.l-catalog
    flex none
    &__title
        color: #171717;
        font-size: 24px;
        font-weight: 700;
        margin-bottom 20px
    &__menu
        >ul
            list-style-type none
            padding 0
            margin 0
            border: 1px solid #d1d1d1;
            >li
                position relative
                .open
                    display block
                >a
                    display block
                    color: #171717;
                    font-size: 18px;
                    font-weight: 400;
                    border-top: 1px solid #d1d1d1;
                    background-color: #f8f8f8;  
                    padding 16px 46px 16px 19px
                    transition background-color .5s       
                    &:hover
                        background #66d0cc      
                .sub-menu-trigger
                    position absolute
                    top 15px
                    right 10px
                    width 30px
                    height 30px
                    background url(../img/arrowLeft.png) 50% 50% no-repeat
                    .svg-icon
                        display none
                    &.rotade
                        transform: rotate(180deg);
                ul
                    list-style-type none
                    padding 0
                    margin 0
                    display none
                    li
                        a
                            color: #171717;
                            font-size: 16px;
                            display block
                            padding 16px 35px               
                            border-top: 1px solid #d1d1d1;
                            font-weight: 300;
                            transition background-color .5s, color .5s       
                            &:hover
                                color #fff
                                background #15bddb
.catalogMenu
    margin-top 20px
    .l-catalog__title
        margin-bottom 10px
    .l-catalog__menu >ul >li >a
        font-size 16px
        padding: 16px 38px 16px 19px;
    .l-catalog__menu >ul >li ul li a
        font-size 15px