<div block="l-catalog">
	<div elem="title">Каталог</div><!-- <= title -->
	<nav elem="menu">
		<ul>
			<li><a href="#">Хирургия и реанимация</a>
				<ul>
					<li><a href="#"> Мониторы и пульсоксиметры</a></li>
					<li><a href="#">Функциональные кровати</a></li>
					<li><a href="#">Электрические аспиратор</a></li>
					<li><a href="#">Наркозные аппараты</a></li>
				</ul>
			</li>
			<li><a href="#">Акушерство и гинекология</a></li>
			<li><a href="#">Неонатология</a></li>
			<li><a href="#">Функциональная диагностика</a></li>
			<li><a href="#">Рентгенология и томография</a></li>
			<li><a href="#">Лабораторная диагностика</a></li>
		</ul>
	</nav><!-- <= menu -->
</div><!-- l-catalog -->