<div block="main-products">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="head">
                <div elem="title">Dixion производит </div>
                <div elem="subtitle">40 групп медицинского оборудования</div>
            </div>
            
            <div elem="items">
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img1.png" alt=""></span>
                        <span elem="name">Хирургия <br> и реанимация</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img2.png" alt=""></span>
                        <span elem="name">Акушерство <br> и гинекология</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img3.png" alt=""></span>
                        <span elem="name">Неонатология</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img4.jpg" alt=""></span>
                        <span elem="name">Функциональная <br> диагностика</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img5.png" alt=""></span>
                        <span elem="name">Рентгенология <br> и томография</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img6.png" alt=""></span>
                        <span elem="name">Лабораторная <br> диагностика</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img7.png" alt=""></span>
                        <span elem="name">Офтальмология</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img8.png" alt=""></span>
                        <span elem="name">Оториноларингология</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img9.png" alt=""></span>
                        <span elem="name">Эндоскопия</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img10.png" alt=""></span>
                        <span elem="name">Ветеренария</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/main-products-img11.png" alt=""></span>
                        <span elem="name">Расходные <br> материалы</span>
                        <span elem="more-btn" class="site-more-btn" href="#">Подробнее</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div><!-- main-products -->