.main-products
    margin-bottom 75px

    @media (max-width 640px)
        margin-bottom 35px

    &__head
        text-align center
        padding-bottom 10px
        position relative
        margin-bottom 45px
        &:after
            content ''
            position absolute
            left 50%
            transform translateX(-50%)
            bottom 0
            width 111px
            height 2px
            background-color #0099ff

    &__title
        font-size 36px
        color #171717
        font-weight 400
        line-height 40px

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 28px        

    &__subtitle    
        font-size 36px
        font-weight 700
        line-height 40px

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 24px        

    &__items
        display grid
        display -ms-grid
        -ms-grid-columns 1fr 30px 1fr 30px 1fr 30px 1fr
        grid-template-columns 1fr 1fr 1fr 1fr
        grid-template-rows 312px 312px 312px 312px
        -ms-grid-rows 312px 30px 312px 30px 312px 30px 312px
        grid-gap 30px

        @media (max-width 1023px)
            display flex
            flex-wrap wrap


    &__item
        padding-top 45px
        padding-bottom 35px
        padding-left 30px
        border-radius 5px
        border 1px solid #d1d1d1
        background-color #fff
        position relative
        display block
        overflow hidden
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-color #4a919b
            opacity 0
            z-index -1
            transition opacity .3s

        &:hover
            &:before  
                z-index 2
                opacity .9    

            & ^[0]
                &__name 
                    color #fff   

                &__more-btn
                    color #fff  
                    &:after
                        background #fff url('../img/more-hover-icon.svg') 50% 50% no-repeat
                        background-size 30%

        @media (max-width 1023px)
            flex 0 0 48%
            margin-right 2%
            padding 25px
            margin-bottom 30px
            min-height 180px

        @media (max-width 767px)
            padding 15px    

        @media (max-width 540px)
            flex 0 0 100%
            margin-bottom 15px

        &:nth-child(2n)
            @media (max-width 1023px)
                margin-right 0


        &:nth-child(1)
            grid-column-start 1
            grid-column-end 3
            grid-row-start 1
            grid-row-end 1

            -ms-grid-row 1
            -ms-grid-column 1
            -ms-grid-column-span 3

        &:nth-child(2)
            grid-column-start 3
            grid-column-end 3
            grid-row-start 1
            grid-row-end 3

            -ms-grid-row 1
            -ms-grid-column 5
            -ms-grid-row-span 3

            & ^[0]
                @media (min-width 1024px)
                    &__body
                        justify-content flex-end

                    &__name
                        margin-bottom 75px    

        &:nth-child(3)          
            -ms-grid-row 1
            -ms-grid-column 7

            & ^[0]
                @media (min-width 1024px)
                    &__body
                        justify-content flex-end

                    &__name
                        margin-bottom 25px

        &:nth-child(4)          
            -ms-grid-row 3
            -ms-grid-column 1   

        &:nth-child(5)          
            -ms-grid-row 3
            -ms-grid-column 3     

        &:nth-child(6)          
            -ms-grid-row 3
            -ms-grid-column 7  

        &:nth-child(7)          
            -ms-grid-row 5
            -ms-grid-column 1      

        &:nth-child(8)    
            grid-row-start 3
            grid-column-start 2
            grid-row-end 3
            grid-column-end 4

            -ms-grid-row 5
            -ms-grid-column 3
            -ms-grid-column-span 3

        &:nth-child(9)          
            -ms-grid-row 5
            -ms-grid-column 7     

        &:nth-child(10)    
            grid-row-start 4
            grid-column-start 1
            grid-row-end 4
            grid-column-end 3

            -ms-grid-row 7
            -ms-grid-column 1
            -ms-grid-column-span 3

        &:nth-child(11)      
            grid-row-start 4
            grid-column-start 3
            grid-row-end 4
            grid-column-end 5

            -ms-grid-row 7
            -ms-grid-column 5
            -ms-grid-column-span 3

    &__body
        display flex
        flex-direction column  
        justify-content space-between
        height 100%  

    &__img
        display block
        position absolute
        top -1px
        left -1px

        img
            width 103%
            height auto

            @media (max-width 1279px)
                height 100%

        @media (max-width 1279px)
            bottom -1px

        @media (max-width 1023px)
            display none    


    &__name
        font-size 24px
        color #171717
        font-weight 700
        line-height 28px
        display block
        position relative
        z-index 3
        transition color .3s

        @media (max-width 767px)
            font-size 20px

    &__more-btn
        font-size 14px
        color #171717
        font-weight 600
        line-height 21.9px
        padding-right 15px
        width 90px
        position relative
        z-index 3
        transition color .3s
        &:after
            top -3px