<div block="materials-thumb">
    <div elem="body">
        <div elem="top">
            <a elem="img" href="#"><img src="img/materials-thumb-img.jpg" alt=""></a>
        </div>
        <div elem="bot">
            <a elem="name" href="#">Техника Dixion в Московском областном госпитале ветеранов войн</a>
            <div elem="announce">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse </div>
        </div>
    </div>
</div><!-- materials-thumb -->