.materials-thumb
    padding-left 30px
    display flex

    &__body
        width 370px
        max-width 100%
        display flex
        flex-direction column

    &__img
        font-size 0
        display block

        img 
            max-width 100%
            height auto    

    &__bot
        flex 1 1 auto
        padding 25px 20px 25px 30px
        background-color #fff

        @media (max-width 960px)
            padding 15px

    &__name
        font-size 16px
        color #171717
        font-weight 700
        line-height 18px
        display block
        margin-bottom 10px
        transition color .3s
        &:hover
            color #0099ff

    &__announce
        font-size 14px
        color #171717
        font-weight 600
        line-height 20px