<header block="app-header" {% if catalogMargin == 1 %}mods="catalogMargin"{% endif %}>
    <div elem="section">
        <div elem="top-line" class="contain">
            {% include "logo.html" %}
            <div elem="site-info">
                <div block="search">
                    <div elem="section">
                        <form elem="form" action="">
                            <div elem="input">
                                <button elem="btn-search" type="submit">{{ _icon('search-icon', { tag: 'i' }) }}</button>
                                <input type="text" placeholder="Поиск" required>
                            </div>
                        </form>
                    </div>
                </div><!-- b:search -->
                <div elem="phones">
                    <a href="tel:+74951851917">{{ _icon('phone-icon', { tag: 'i' }) }}+7 (495) 185-19-17</a>
                </div>
                <a elem="btn-call" class="site-btn" data-remodal-target="modal">Заказать звонок</a>
            </div>
        </div>
        <div block="hero">
            <div elem="section" {% if pageNews == 1 %}mods="articlesPage"{% endif %}>
                <div elem="inner" class="contain">
                    {% include "main-nav.html" %}
                    {% if pageTitle == "Главная" %}
                        {% include "main-slider.html" %}
                    {% endif %}

                    {% if pageTitle == "Каталог с подкатегориями" %}
                        <div elem="body">
                            <div elem="info">
                                <div elem="title">Хирургическая <br> и реанимационная техника</div>
                                <div elem="subtitle">хирургическая и реанимационная техника</div>
                                <a elem="btn-more" class="site-btn" data-remodal-target="modal">Подробнее</a>
                            </div>
                            <div elem="img"><img src="img/header-inner-pic.png" alt=""></div>
                        </div>
                    {% endif %}
                    {% if pageTitle == "Подкатегория" %}
                        <div elem="body">
                            <div elem="info">
                                <div elem="title">Операционные столы</div>
                                <div elem="subtitle">хирургическая и реанимационная техника</div>
                                <a elem="btn-more" class="site-btn" data-remodal-target="modal">Подробнее</a>
                            </div>
                            <div elem="img"><img src="img/subCategoryBg.png" alt=""></div>
                        </div>
                    {% endif %}
                    {% if pageTitle == "О компании" %}
                        <div elem="body">
                            <div elem="info" mods="about">
                                <div elem="title">Все о нашей компании </div>
                                <div elem="subtitle">все о нашей компании в деталях</div>
                            </div>
                            <div elem="img"><img src="img/aboutTopBg.png" alt=""></div>
                        </div>
                    {% endif %}
                    {% if pageTitle == "Условия доставки" %}
                        <div elem="body" mods="delivery">
                            <div elem="info">
                                <div elem="title">Условия доставки</div>
                                <a elem="btn-more" class="site-btn" data-remodal-target="modal">Получить консультацию</a>
                            </div>
                            <div elem="img"><img src="img/delivery-img.png" alt=""></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div><!-- b:hero -->

    </div>
</header><!-- b:app-header -->
