.app-header
    flex none
    margin-bottom 60px
    &--catalogMargin
        margin-bottom 20px
    &__top-line
        display flex
        align-items center
        padding-top 10px
        padding-bottom 18px

        @media (max-width: 1023px)
            display none

    &__site-info
        display flex
        align-items center    
        margin-left auto


    &__phones
        margin-right 30px
        a
            font-size 18px
            color #171717
            font-weight 800
            cursor default
            display flex
            align-items center
            &:hover
                text-decoration none

            .svg-icon--phone-icon
                width 14px
                height 14px
                fill #0099ff 
                margin-right 11px   

.search
    margin-right 80px

    &__input
        display flex
        align-items center
        width 300px
        max-width 100%
        padding-bottom 10px
        border-bottom 1px solid #959595

        input 
            font-size 16px
            color #c2c2c2
            font-weight 400
            width 100%
            border none

        ::placeholder    
            font-size 16px
            color #c2c2c2
            font-weight 400

    &__btn-search
        font-size 0
        padding 0
        margin-right 15px
        border none 
        background-color transparent
        cursor pointer

        .svg-icon--search-icon
            width 16px
            height 16px
            fill #0099ff
    
.hero

    background-color #f7f7f7

    &__section
        background url('../img/hero-bg.png') 50% -80px no-repeat
        height 100%
        &--articlesPage
            background #fff

        @media (max-width 959px)
            background url('../img/hero-bg.png') 35% -245px no-repeat

    &__body
        display flex    
        @media (max-width 1023px)
            padding-top 80px

        &--delivery

            & ^[0]

                &__info
                    margin-right 70px

                &__btn-more
                    width 277px
                    margin-top 30px

        @media (max-width 767px)
            flex-direction column            

    &__info
        padding-top 75px    
        &--about
            padding-top 147px
        @media (max-width 1279px)
            padding-top 0

        @media (max-width 767px)
            width 100%
            padding-bottom 50px    
        
    &__title
        font-size 48px
        font-weight 700
        white-space nowrap
        line-height 50px
        margin-bottom 20px
        position relative
        z-index 1

        @media (max-width 959px)
            font-size 34px

        @media (max-width 767px)
            white-space normal
            line-height 36px    

        @media (max-width 480px)
            font-size 30px
            line-height 34px      

    &__subtitle
        font-size 24px
        color #171717
        font-weight 400

        @media (max-width 480px)
            font-size 20px

    // &__underscore-title
    //     font-size 36px
    //     color #127b89
    //     font-weight 700 

    //     @media (max-width 959px)
    //         font-size 32px   

    //     @media (max-width 480px)
    //         font-size 28px    

    &__btn-more
        margin-top 70px
        width 215px
        max-width 100%
        padding-top 17px !important
        padding-bottom 18px !important  
        background #66d0cc !important
        &:hover
            background #15bddb !important
        @media (max-width 1279px)
            margin-top 30px

        @media (max-width 767px)
            display block
            margin-left auto    

        @media (max-width 480px)
            margin-left 0    

    &__img
        font-size 0
        flex 0 0 715px
        width 715px
        max-width 715px
        padding-left 6%
        border-radius 5px
        overflow hidden

        img 
            max-width 100%
            height auto    

        @media (max-width 1279px)
            flex 0 0 500px
            width 500px
            max-width 500px   

        @media (max-width 767px)
            flex 0
            width 480px
            max-width 100%
            order -1
            padding-left 0
            margin-bottom 10px