<div block="main-nav">
    <nav elem="nav">
        <ul>
            <li class="sub-menu">
                <a href="#">О компании</a>
                <ul>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Лицензии и сертификаты</a></li>
                </ul>
            </li>
            <li class="sub-menu sub-menu--mods">
                <a href="#">Медицинское оборудование</a>
                <ul>
                    <li><span><img src="img/mods-menu-pic5.png" alt=""></span><a href="#">Хирургияи реанимация</a></li>
                    <li><span><img src="img/mods-menu-pic.png" alt=""></span><a href="#">Неонатология</a></li>
                    <li><span><img src="img/mods-menu-pic11.png" alt=""></span><a href="#">Эндоскопия</a></li>
                    <li><span><img src="img/mods-menu-pic8.png" alt=""></span><a href="#">Функциональная диагностика</a></li>
                    <li><span><img src="img/mods-menu-pic2.png" alt=""></span><a href="#">Лабораторная диагностика</a></li>
                    <li><span><img src="img/mods-menu-pic6.png" alt=""></span><a href="#">Ветеренария</a></li>
                    <li><span><img src="img/mods-menu-pic9.png" alt=""></span><a href="#">Рентгенология и томография</a></li>
                    <li><span><img src="img/mods-menu-pic3.png" alt=""></span><a href="#">Офтальмология</a></li>
                    <li><span><img src="img/mods-menu-pic7.png" alt=""></span><a href="#">Расходные материалы</a></li>
                    <li><span><img src="img/mods-menu-pic10.png" alt=""></span><a href="#">Акушерство и гинекология</a></li>
                    <li><span><img src="img/mods-menu-pic4.png" alt=""></span><a href="#">Оториноларингология</a></li>
                </ul>
            </li>
            <li><a href="#">Наши партнеры</a></li>
            <li><a href="#">Наши клиенты</a></li>
            <li class="sub-menu">
                <a href="#">Информация</a>
                <ul>
                    <li><a href="#">Наши партнеры</a></li>
                    <li><a href="#">Наши клиенты</a></li>
                    <li><a href="#">Условия доставки</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
</div><!-- main-nav -->