.main-nav

    @media (max-width: 1023px)
        display none

    &__nav
        padding-top 25px
        padding-bottom 35px

        ul
            list-style-type none
            display flex
            padding-left 0
            margin-bottom 0

            li
                &:not(:last-child)
                    margin-right 80px

                    @media (max-width: 1279px)
                        margin-right 37px    

                &.sub-menu
                    position relative

                    &.sub-menu--mods
                        a
                            padding-right 0
                            &:hover
                                color #0099ff
                            &:before
                                display none
                            &:after
                                display none
                        
                        ul
                            width 860px
                            border-radius 7px
                            border 1px solid #d1d1d1
                            background-color #ffffff   
                            padding 30px 0 5px 35px 
                            display flex
                            flex-wrap wrap 

                            li
                                width 23.5%
                                display flex
                                align-items center
                                margin-bottom 25px !important
                                @media (max-width: 1024px)
                                    flex 0 0 35%
                                    width 35%
                                    max-width 35%
                                span 
                                    flex 0 0 75px
                                    width 75px
                                    max-width 75px
                                    margin-right 10px
                                    img 
                                        max-width 100%
                                        height auto

                            @media (max-width: 1024px)
                                width 750px            

                    &:hover
                        ul
                            opacity 1
                            z-index 5

                    ul
                        width 253px
                        border-radius 7px
                        border 1px solid #d1d1d1
                        background-color #ffffff
                        display block
                        padding 20px 10px 20px 23px
                        position absolute
                        top 35px
                        left 0
                        opacity 0
                        z-index -1
                        transition opacity .3s, ease .5s

                        li
                            
                            &:not(:last-child)
                                margin-bottom 15px

                            a
                                font-size 16px
                                color #171717
                                font-weight 600
                                line-height 18px
                    
                    > a
                        padding-right 10px
                        &:after
                            content ''
                            position absolute
                            top 10px
                            right 0
                            width 4px
                            height 4px
                            background-color #000
                            border-radius 50%
                            transition background-color .3s
                        &:hover
                            &:after
                                background-color #0099ff  

                a
                    font-size 18px
                    color #191919
                    font-weight 400
                    padding-bottom 5px
                    padding-left 1px
                    position relative
                    transition color .3s
                    &:hover
                        color #0099ff
                        &:before
                            width 100%
                            background-color #0099ff    

                    &:before
                        content ''
                        position absolute
                        bottom 0
                        left 0
                        width 0
                        height 3px
                        transition background-color .3s, width .3s
                    
                    