.remodal
    width 820px !important
    max-width 100% 
    
    input[type='email'].styler,
    input[type='password'].styler,
    input[type='search'].styler,
    input[type='tel'].styler,
    input[type='text'].styler,
    input[type='mail'].styler,
    input[type='url'].styler,
    textarea {
        padding 12px 40px
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        color: #33363b;
        height: 58px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px solid #e9e9e9;
        background-color: #f7f7f7;
        &::placeholder {
            color #aaaeb1
        }
    }
    input[type='search'].styler {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    textarea {
        overflow: auto;
        height: 175px;
        padding-top 20px
        width 100%
    }
    input[type='email'].styler:hover,
    input[type='password'].styler:hover,
    input[type='search'].styler:hover,
    input[type='tel'].styler:hover,
    input[type='text'].styler:hover,
    input[type='mail'].styler:hover,
    input[type='url'].styler:hover,
    textarea:hover {
        border-color: #327dd2;
    }
    input[type='email'].styler:hover:focus,
    input[type='password'].styler:hover:focus,
    input[type='search'].styler:hover:focus,
    input[type='tel'].styler:hover:focus,
    input[type='text'].styler:hover:focus,
    input[type='mail'].styler:hover:focus,
    input[type='url'].styler:hover:focus,
    textarea:hover:focus {
        border-color: #327dd2;
        outline: none;
    }
    button.styler,
    input[type='button'].styler,
    input[type='submit'].styler,
    input[type='reset'].styler {
        overflow: visible;
        outline: none;
        cursor: pointer;
        border-radius: 0;
        width: 227px;
        height: 51px;
        box-sizing: border-box;
        border: none; 
        transition 0.5s
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        border-radius: 4px;
        background-color: #0099ff;
        margin-top 20px
        margin-bottom 20px
        font-family $font
    }
    button.styler.styler::-moz-focus-inner,
    input[type='button'].styler.styler::-moz-focus-inner,
    input[type='submit'].styler.styler::-moz-focus-inner,
    input[type='reset'].styler.styler::-moz-focus-inner {
        padding: 0;
        border: 0;
        box-shadow: none;
        background: #32eaf7;
    }
    button.styler:not([disabled]):hover,
    input[type='button'].styler:not([disabled]):hover,
    input[type='submit'].styler:not([disabled]):hover,
    input[type='reset'].styler:not([disabled]):hover,
    input[type='reset'].styler:hover {
        box-shadow: none;
        background: #32eaf7;
    }
    button.styler:active,
    input[type='button'].styler:active,
    input[type='submit'].styler:active,
    input[type='reset'].styler:active {
        box-shadow: none;
        background: #3ac6f4;
    }
    button.styler[disabled],
    input[type='button'].styler[disabled],
    input[type='submit'].styler[disabled] {
        border-color: #3ac6f4;
        background: #3ac6f4;
        box-shadow: none;
        color: #33363b;
    }

    h1
        margin-top 0
    .input
        width 100%
        
        &::placeholder
            color: #7f7f7f;
        &.styler
            border-radius: 10px;
            border: 1px solid #e9e9e9;
            background-color: #f7f7f7;
    .textarea
        width 100%
    .notation
        font-size 14px
        font-weight 400
        color #000
        margin-bottom 30px
        line-height 18px
        a
            color #000
            &:hover 
                text-decoration none
        
    &__notification
        display none
.remodal
    padding 0    
    background #fff
    overflow hidden
    color #33363b
    border-radius 4px
    padding-top 80px
    padding-bottom 40px
    box-shadow: 0 2px 4px 0 rgba(51, 54, 59, 0.25);

    @media (max-width 640px)
        padding-top 30px
        padding-bottom 30px

    &:before
        display none
    &__title
        font-size 36px
        color #171717
        font-weight 700
        position relative
        margin-bottom 30px

        @media (max-width 640px)
            font-size 30px
            margin-bottom 15px

        h1
            color #33363b
            margin 0
            font-weight 400
            font-size 25px
            line-height 1.2
            position absolute
            top 17px
            left 36px
            font-family: $system-font
    &__inner
        padding 15px
        width 580px
        max-width 100%
        margin 0 auto
        @media (max-width:480px)
            padding 10px 15px 35px
    
    .agreement
        font-size 16px
        color #212121
        font-weight 400
        line-height 18px
        width 310px   
        max-width 100%     
        margin 0 auto

        a
            color #212121
            font-weight 600
            text-decoration underline
            &:hover
                text-decoration none

            
    label
        width 19px
        height 19px
.remodal-close
    margin 5px 5px 0 0
    width 40px
    height 40px
    border-radius 50%
    display: flex;
    align-items: center;
    justify-content: center;
    z-index 10
    outline none
    .svg-icon
        fill #212121
    &:before
        display none
.myForm__item-title
    font-size 12px
    color #33363
    font-weight 700
    text-align left
    margin-bottom 10px
.myForm__notification
    font-size 12px
    color #898d9
    text-align left
    
