<div block="remodal" data-remodal-id="modal">
      <button data-remodal-action="close" class="remodal-close">{{ _icon('close', { tag: 'div' }) }}</button>
      <div elem="title">
          Заказать звонок
      </div>
      <div elem="inner">
          <form action="#" class="myForm">
            <div class="myForm__item">
              <input class="styler input" type="text" placeholder="Имя" required="" >
            </div>
            <div class="myForm__item">
              <input class="styler input" type="text" placeholder="Телефон" required="" >
            </div>
            <div class="myForm__item">
              <input class="styler input" type="mail" placeholder="Email" required="" >
            </div>

            <button class="styler">Отправить</button>
            <div class="agreement">Нажимая на кнопку. Вы принимаете условия <a href="#" >Пользовательского соглашения</a></div>
          </form>
          <div elem="notification">Спасибо!</div>
      </div>
</div>