

<div block="remodal" mods="contact-spec" data-remodal-id="contact-spec">
      <button data-remodal-action="close" class="remodal-close">{{ _icon('close', { tag: 'div' }) }}</button>
      <div elem="title">
          Связь со специалистом
      </div>
      <div elem="inner">
          <form action="#" class="myForm">
            <div class="myForm__item">
              <input class="styler input" type="text" placeholder="Имя" required="" >
            </div>
            <div class="myForm__item">
              <input class="styler input" type="text" placeholder="Телефон" required="" >
            </div>
            <div class="myForm__item">
              <input class="styler input" type="mail" placeholder="Email" required="" >
            </div>
            <div class="myForm__item"> 
              <textarea name=""cols="30" rows="10" placeholder="Сообщение"></textarea>
            </div>
            <button class="styler">Отправить</button>
            <div class="agreement">Нажимая на кнопку. Вы принимаете условия <a href="#" >Пользовательского соглашения</a></div>
          </form>
          <div elem="notification">Спасибо!</div>
      </div>
</div>