.cart-product-info

    .cart-product-slider
        width 670px
        max-width 100%
        margin 0 auto 50px

        .owl-nav
            display flex
            align-items center
            justify-content space-between
            width 370px
            max-width 100%
            margin 50px auto
        
        .owl-stage
            display flex
            
        .owl-prev,
        .owl-next
            position absolute
            &:hover
                svg
                    fill #66d0cc

            svg
                fill #818284
                width 38px
                transition fill .3s        

        .owl-prev
            top 40%
            left -50px
            transform rotate(180deg) translateX(-50%)

            @media (max-width 960px)
                left 0

            @media (max-width 440px)
                left -25px

        .owl-next
            top 40%
            right -50px
            transform translateX(-50%)

            @media (max-width 960px)
                right 0    

            @media (max-width 440px)
                right -25px    

        &__items
            height 370px    

            .owl-item
                display flex
            
            @media (max-width 479px)
                height 230px

        &__item
            display flex
            align-items center
            justify-content center
            width 400px  
            max-width 100%
            margin 0 auto
            img 
                max-width 100%
                height auto

            @media (max-width 479px)
                width 250px    

        &__bot
            display flex

        &__3D-viewing
            flex 0 0 120px
            width 120px
            max-width 120px
            display flex
            align-items center
            justify-content center
            border 1px solid transparent
            transition border-color .3s
            &:hover
                border 1px solid #039ba8

            @media (max-width 639px)
                flex 0 0 80px
                width 80px
                max-width 80px

            @media (max-width 440px)
                flex 0 0 50px
                width 50px
                max-width 50px
        
        &__3D-viewing-pic    
            cursor pointer

        &__thumbs
            width 552px
            max-width 100%
            margin 0 auto

            .owl-item
                display flex
                flex-direction column
                justify-content center
                align-items center
                &.current
                    .cart-product-slider__thumb-img
                        border 1px solid #039ba8

            .owl-nav
                display none            

        &__thumb-img
            display flex
            justify-content center
            align-items center
            flex 0 0 120px
            width 120px
            max-width 120px
            cursor pointer
            padding 10px
            background-color #fff
            border 1px solid transparent
            transition border-color .3s
            &:hover
                border 1px solid #039ba8
 
            img 
                max-width 100%     
                height auto 

            @media (max-width 639px)
                flex 0 0 80px
                width 80px
                max-width 80px

            @media (max-width 440px)
                flex 0 0 65px
                width 65px
                max-width 65px    


    &__head
        margin-bottom 55px

        @media (max-width 640px)
            margin-bottom 30px

    &__title
        font-size 36px
        color #171717
        font-family : $fonts.base
        font-weight 700
        padding-bottom 5px
        margin-bottom 30px
        position relative
        &:after
            content ''
            position absolute
            left 0
            bottom 0
            width 111px
            height 2px
            background-color #0099ff

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 28px  

    .characteristics
        color #171717

        &__name
            font-size 24px
            font-weight 700
            line-height 24px
            margin-bottom 30px

            @media (max-width 640px)
                font-size 20px    


        &__project-desc
            padding-left 25px   
            margin-bottom 50px 

        &__project-desc-name
            font-size 16px
            font-weight 700
            line-height 20px   
            margin-bottom 15px
            position relative
            &:before
                content ''
                position absolute
                top 5px
                left -25px
                width 16px
                height 12px
                background url('../img/list-icon.png') 0 0 no-repeat

        &__project-desc-text
            font-size 14px
            font-weight 400
            line-height 20px   
            margin-bottom 15px   
        
        &__project-desc-list
            font-size 14px
            color #171717
            font-weight 400
            line-height 20px
            padding-left 25px   
            margin-bottom 50px 

            p
                position relative
                &:before
                    content ''
                    position absolute
                    top 5px
                    left -25px
                    width 16px
                    height 12px
                    background url('../img/list-icon.png') 0 0 no-repeat

        &__project-desc-table
            margin-bottom 50px

            &--min
                width 320px
                margin-bottom 0
                overflow visible !important
                
                table
                    width 100% !important

            table
                font-size 14px
                color #171717
                line-height 24px
                width 100%
                text-align center
                

                @media (max-width 640px)
                    font-size 12px

                // @media (max-width 639px)
                //     width 640px    

                th
                    width 150px
                    font-weight 600
                    border 1px solid #d1d1d1
                    background-color #f7f7f7     
                    padding 20px 15px    

                    @media (max-width 640px)
                        padding 10px 5px

                td
                    width 150px
                    border 1px solid #d1d1d1
                    background-color #fff     
                    padding 20px 15px    
                    @media (max-width 640px)
                        padding 10px

            @media (max-width 639px)
                width 100%
                overflow-x scroll
    
        &__desc
            font-size 14px
            font-weight 400
            line-height 20px
            margin-bottom 40px

.cart-product-slider__3D-viewing-modal
    height 500px
    position relative
    &:after
        content ''
        position absolute
        bottom -95px
        left 50%
        transform translateX(-50%)  
        width 250px
        height 150px
        background url('../img/mouse-3d-pic.png') 0 0 no-repeat
        background-size contain 

.cart-product-slider__3D-viewing-spin

    @media (max-width 479px)
        width 300px
        height 300px