<div block="cart-product-info">
    <div elem="section">
        <div elem="inner">
            <div elem="head">
                <h1 elem="title">Название товара</h1>
            </div>
            <div block="cart-product-slider">
                <div elem="items" class="js-cart-product-slider owl-carousel">
                    <div elem="item">
                        <div elem="img"><img src="img/cart-product-slider-img.png" alt=""></div>
                    </div>
                    <div elem="item">
                        <div elem="img"><img src="img/cart-product-slider-prev-img.png" alt=""></div>
                    </div>
                    <div elem="item">
                        <div elem="img"><img src="img/cart-product-slider-prev-img2.png" alt=""></div>
                    </div>
                </div>
                <div elem="bot">
                    <div elem="thumbs" class="js-thumb-container">
                        <div elem="thumb-img"><div elem="thumb-img-in"><img src="img/cart-product-slider-img.png" alt=""></div></div>
                        <div elem="thumb-img"><div elem="thumb-img-in"><img src="img/cart-product-slider-prev-img.png" alt=""></div></div>
                        <div elem="thumb-img"><div elem="thumb-img-in"><img src="img/cart-product-slider-prev-img2.png" alt=""></div></div>
                    </div>
                    <div elem="3D-viewing">
                        <div elem="3D-viewing-pic" data-remodal-target="view-3D"><img src="img/3d-img.png" alt=""></div>
                        <div elem="3D-viewing-modal" class="remodal" data-remodal-id="view-3D">
                            <button data-remodal-action="close" class="remodal-close">{{ _icon('close', { tag: 'div' }) }}</button>
                            <div elem="3D-viewing-spin" class="js-3D-viewing-spin"></div>
                        </div>
                    </div>
                </div>
            </div><!-- b:cart-product-slider -->

            <div block="characteristics">
                <div elem="body">
                    <div elem="name">Особенности</div>
                    <div elem="project-desc">
                        <div elem="project-desc-name">Информативность</div>
                        <div elem="project-desc-text">
                            <p>
                                Большой TFT- LCD-дисплей с диагональю 15″. Вывод на экран до 13 кривых одновременно. Возможность одновременного отображения 12 отведений ЭКГ.
                            </p>
                        </div>
                        <div elem="project-desc-name">Универсальность</div>
                        <div elem="project-desc-text">
                            <p>
                                Выбор категории пациента (взрослые, дети и новорождённые). Предустановленные варианты отображения данных о состоянии пациента (6 экранов) и возможность настройки вывода информации вручную. Свободный выбор программ и параметров мониторирования даёт возможность использования монитора как в операционной и реанимации, так и в отделении интенсивной терапии.
                            </p>
                        </div>
                        <div elem="project-desc-name">Управление</div>
                        <div elem="project-desc-text">
                            <p>
                                Стандартные элементы реанимационного и анестезиологического прикроватного монитора — колесо прокрутки и кнопки быстрого доступа, могут быть дополнены сенсорным управлением с настройкой ярлыков меню быстрого доступа на экране.
                            </p>
                        </div>
                        <div elem="project-desc-name">Хранение и обработка данных</div>
                        <div elem="project-desc-text">
                            <p>
                                Возможность сохранения всех данных на SD-карту памяти или USB-накопитель. Порт VGA для подключения дополнительного дисплея и порт синхронизации с дефибриллятором. С помощью Wi-Fi или проводным подключением возможно объединение мониторов реаниматологов и анестезиологов в единую сеть под управлением центральной станцией мониторирования с двусторонней связью.
                            </p>
                        </div>
                    </div>
                </div>
                <div elem="body">
                    <div elem="name">Параметры</div>
                    <div elem="project-desc-list">
                        <p>TFT- LCD-дисплей с диагональю 15”</p>
                        <p>Стандартная конфигурация: ЭКГ (3/5 отв.), ЧД, SpO2, НИАД, Темп (2 канала)</p>
                        <p>SpO2 c алгоритмом подавления артефактов (вызванных движениями пациента или низкой перфузией)</p>
                        <p>Алгоритм оптимизации НИАД для пациентов с гипертонией, заболеваниями сердца и новорождённых</p>
                        <p>Анализ аритмий (16 видов)</p>
                        <p>Помощь в прогнозировании клинического состояния пациента на основе алгоритма предупреждения тревог</p>
                        <p>Сохранение до 120 ч. трендов, 70 тревожных событий, 60 записей аритмий, 1200 измерений НИАД, просмотр последних 2-х минут всех кривых в режиме паузы</p>
                    </div>
                </div>
                <div elem="body">
                    <div elem="name">Дополнительные опции</div>
                    <div elem="project-desc-list">
                        <p>Сенсорное управление с настройкой ярлыков меню быстрого доступа на экране</p>
                        <p>ЭКГ по 12-ти отведениям с полным анализом ST и программой интерпретации (помощь в постановке диагноза; 208 вариантов)</p>
                        <p>Nellcor SpO2</p>
                        <p>CO2 с алгоритмом вычисления и подавления ложных волн; Respironics CO2 (боковой/основной поток)</p>
                        <p>ИАД (до 4-х каналов)</p>
                        <p>Сердечный выброс с программами гемодинамических расчетов</p>
                        <p>Анализ газов (CO2, N2O, Des, Iso, Enf, Sev, Hal, O2)</p>
                        <p>3-х канальный термопринтер</p>
                        <p>Сканер штрих-кодов</p>
                        <p>Питание от бортовой сити автомобиля (12 В)</p>
                        <p>Крепление на стену; передвижная стойка с корзиной</p>
                        <p>За дополнительной информацией и подробными техническими характеристиками обратитесь к нашим специалистам.</p>
                    </div>
                </div>
                <div elem="body">
                    <div elem="name">Матрасы для головы и шеи</div>
                    <div elem="project-desc-table">
                        <table>
                            <tr>
                                <th>Измеряемые газы</th>
                                <th>М600 - М02</th>
                                <th>М600 - М03</th>
                                <th>М600 - М04</th>
                                <th>М600 - М05</th>
                            </tr>
                            <tr>
                                <th>CO2</th>
                                <td>+</td>
                                <td></td>
                                <td>+</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>CO3</th>
                                <td></td>
                                <td>+</td>
                                <td></td>
                                <td>+</td>
                            </tr>
                            <tr>
                                <th>CO</th>
                                <td>+</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>CO2</th>
                                <td></td>
                                <td></td>
                                <td>+</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div elem="body">
                    <div elem="name">Матрасы для головы и шеи</div>
                    <div elem="desc">Возможность сохранения всех данных на SD-карту памяти или USB-накопитель. Порт VGA для подключения дополнительного дисплея и порт синхронизации с дефибриллятором. С помощью Wi-Fi или проводным подключением возможно объединение мониторов реаниматологов и анестезиологов в единую сеть под управлением центральной станцией мониторирования с двусторонней связью.</div>
                    <div elem="project-desc-table" mods="min">
                        <table>
                            <tr>
                                <th>Модель</th>
                                <th>Размер</th>
                            </tr>
                            <tr>
                                <th>1101 -1</th>
                                <td>28х14х24</td>
                            </tr>
                            <tr>
                                <th>1101 -1</th>
                                <td>28х14х24</td>
                            </tr>
                            <tr>
                                <th>1101 -1</th>
                                <td>28х14х24</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div><!-- b:product-features -->
        </div>
    </div>
</div><!-- cart-product-info -->