<div block="b-contacts">
	<div elem="inner" class="contain">
		<div elem="title"><h3>Контакты</h3></div><!-- <= title -->
		<div elem="items">
			<div elem="item">
				<div elem="item-img"><span><img src="img/addr.png" alt=""></span></div><!-- <= item-img -->
				<div elem="item-anonce">
					<div elem="item-anonce-title">Адрес</div><!-- <= item-anonce-title -->
					<div elem="item-anonce-text">127422,  Россия,  Москва,  Тимирязевская ул., д.1-1</div><!-- <= item-anonce-title -->
				</div><!-- <= item-anonce -->
			</div><!-- <= item -->
			<div elem="item">
				<div elem="item-img"><span><img src="img/tel.png" alt=""></span></div><!-- <= item-img -->
				<div elem="item-anonce">
					<div elem="item-anonce-title">Телефон</div><!-- <= item-anonce-title -->
					<div elem="item-anonce-text"><a href="tel:+74957777777">+7 495 777 77 77</a></div><!-- <= item-anonce-title -->
				</div><!-- <= item-anonce -->
			</div><!-- <= item -->
			<div elem="item">
				<div elem="item-img"><span><img src="img/mail.png" alt=""></span></div><!-- <= item-img -->
				<div elem="item-anonce">
					<div elem="item-anonce-title">Email</div><!-- <= item-anonce-title -->
					<div elem="item-anonce-text"><a href="#">ultragymfit@gmail.com</a></div><!-- <= item-anonce-title -->
				</div><!-- <= item-anonce -->
			</div><!-- <= item -->
		</div><!-- <= items -->
		<div elem="worktime">
				<div elem="worktime-img"><span><img src="img/clock.png" alt=""></span></div><!-- <= worktime-img -->
				<div elem="worktime-text">Мы принимаем звонки в рабочие дни с 9:00 до 18:00 по Московскому времени. В нерабочее время и праздники вы можете связаться с нами по электронной почте.</div><!-- <= worktime-text -->
				<a href="#" elem="worktime-button" class="site-btn" data-remodal-target="modal">Отправить сообщение</a>
		</div><!-- <= worktime -->
	</div><!-- <= inner -->	
</div><!-- b-contacts -->
<div block="b-map" id="standort-map"></div><!-- /b-map -->