.b-map
    margin-bottom 80px
    @media (max-width:768px)
        margin-bottom 0
.b-contacts
    margin-bottom 31px
    &__inner
        display:flex;
        flex-wrap wrap
        justify-content space-between
    &__title
        flex 0 0 100%
        color: #171717;
        font-size: 36px;
        font-weight: 700;
        padding-bottom 15px
        text-align center
        margin-bottom 60px
        h3
            position relative
            display inline-block
            margin 0 auto
            &:before
                content ''
                position absolute
                bottom 0
                left 23px
                right 23px
                height 2px
                background #09f
            
    &__items
        flex 0 0 554px
        @media (max-width:1024px)
            flex 0 0 100%   
    &__worktime
        flex 0 0 352px
        @media (max-width:1024px)
            flex 0 0 100%   
            text-align center
            justify-content center
            align-items center
            max-width 400px
            margin 0 auto 29px
        &-img
            margin-right 27px
            display:flex;
            justify-content center
            align-items center
            width 112px
            height 112px
            border 1px solid #dddddd
            border-radius 50%
            margin-bottom 30px            
            @media (max-width:1024px)
                margin 0 auto 10px
            span
                display:flex;
                justify-content center
                align-items center
                background #66d0cc
                width 90px
                height 90px
                border-radius 50%
        &-text
            font-size: 18px;
            font-weight: 400;
            color: #212121;
        &-button
            font-size 16px
            color #fff
            background #15bddb
            padding 13px 31px
            border-radius 4px
            display inline-block
            margin-top 40px
    &__item
        display:flex;
        align-items center
        margin-bottom 29px
        @media (max-width:1024px)
            flex-direction: column;
            align-items center
            justify-content center
            text-align center
            max-width 400px
            margin 0 auto 29px
        &-anonce
            &-title
                font-size: 18px;
                font-weight: 400;
                color: #66d0cc;
            &-text
                font-size: 18px;
                font-weight: 400;
                color: #212121;
                a
                    color: #212121;
                    &:hover
                        text-decoration underline
        &-img
            margin-right 27px
            display:flex;
            justify-content center
            align-items center
            width 112px
            height 112px
            border 1px solid #dddddd
            flex 0 0 112px  
            border-radius 50%
            @media (max-width:1024px)
                margin-right 0
                margin-bottom 10px
            span
                display:flex;
                justify-content center
                align-items center
                background #66d0cc
                width 90px
                height 90px
                border-radius 50%
.b-map
    height 600px
    width 100%      
    @media (max-width:1024px)
        height 350px