.b-about
    flex none
    &__item
        display:flex;
        justify-content space-between
        margin-bottom 50px
        &-text,
        &-img
            flex 0 0 47%
            img
                width 100%
        &-text
            color: #212121;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        &-img
            flex 0 0 49%
        &:nth-child(even)
            .b-about__item-text
                order 1
        @media (max-width:1023px)
            flex-direction: column;
            &-text,
            &-img
                flex 0 0 100%
                margin 0 auto
                max-width 585px
            &:nth-child(even)
                .b-about__item-text
                    order 0