<div block="licenses-certificates-list">
    <div elem="section">
        <div elem="inner">
            <div elem="head">
                <div elem="title">Лицензии и сертификаты</div>
            </div>
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <a elem="preview" href="img/certificate-img2.png" data-lightbox="certificate-img">
                                <span elem="img"><img src="img/certificate-img2.png" alt=""></span>
                            </a>
                        </div>
                        <div elem="bot">
                            <div elem="name">Сертификат соответствия</div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <a elem="preview" href="img/certificate-img.png" data-lightbox="certificate-img">
                                <span elem="img"><img src="img/certificate-img.png" alt=""></span>
                            </a>
                        </div>
                        <div elem="bot">
                            <div elem="name">Сертификат соответствия стандартам и требованиям</div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <a elem="preview" href="img/certificate-img2.png" data-lightbox="certificate-img">
                                <span elem="img"><img src="img/certificate-img2.png" alt=""></span>
                            </a>
                        </div>
                        <div elem="bot">
                            <div elem="name">Сертификат соответствия</div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <a elem="preview" href="img/certificate-img2.png" data-lightbox="certificate-img">
                                <span elem="img"><img src="img/certificate-img2.png" alt=""></span>
                            </a>
                        </div>
                        <div elem="bot">
                            <div elem="name">Сертификат соответствия</div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <a elem="preview" href="img/certificate-img.png" data-lightbox="certificate-img">
                                <span elem="img"><img src="img/certificate-img.png" alt=""></span>
                            </a>
                        </div>
                        <div elem="bot">
                            <div elem="name">Сертификат соответствия стандартам и требованиям</div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <a elem="preview" href="img/certificate-img2.png" data-lightbox="certificate-img">
                                <span elem="img"><img src="img/certificate-img2.png" alt=""></span>
                            </a>
                        </div>
                        <div elem="bot">
                            <div elem="name">Сертификат соответствия</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- licenses-certificates-list -->