.licenses-certificates-list
    margin-bottom 30px

    &__head
        text-align center
        margin-bottom 55px

        @media (max-width 640px)
            margin-bottom 30px

    &__title
        font-size 36px
        color #171717
        font-family : $fonts.base
        font-weight 700
        padding-bottom 5px
        margin-bottom 30px
        position relative
        &:after
            content ''
            position absolute
            left 50%
            transform translateX(-50%)
            bottom 0
            width 111px
            height 2px
            background-color #0099ff

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 28px  

    &__items
        display flex
        margin-left -30px
        flex-wrap wrap

        @media (max-width 1280px)
            justify-content center

    &__item
        padding-left 30px
        display flex
        margin-bottom 30px

    &__body
        display flex
        flex-direction column
        width 370px
        padding-bottom 30px
        border-radius 5px
        border 1px solid #d1d1d1
        background-color #f6f6f6    
    
    &__top
        display flex
        background url('../img/certificate-bg.png') 40px 0 no-repeat

        
    &__preview
        border-radius 5px
        display flex
        align-items center
        justify-content center   
        padding-top 15px
        padding-bottom 15px
        height 294px
        margin-bottom 25px
        width 100%
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba(41, 41, 41, 0.3) url('../img/loupe.svg') 50% 50% no-repeat
            background-size 77px 77px
            z-index -1
            opacity 0
            transition opacity .3s

        &:hover
            &:before
                opacity 1
                z-index 1

    &__img
        width 255px
        max-width 100%
        display block
        text-align center
        img 
            max-width 100%
            height auto

    &__name
        font-size 18px
        color #171717
        font-weight 700  
        text-align center
        width 250px
        margin 0 auto