$system-font = unquote('"Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"')
$title-font = unquote('"Proxima NovaCond", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"')

$colors = {
  theme: convert($data.colors.theme),
  accent: convert($data.colors.accent),
}

$fonts = {
  base: $system-font,
  headings: $title-font
}

$body = {
  fontSize: 1rem,
  fontFamily: $fonts.base,
  fontSize: 1rem,
  fontWeight: 400,
  lineHeight: 1.5,
  color: #212529,
  bgc: #fff
}

$selection = {
  bgc: $colors.theme,
  color: #fff
}

$selectionHeadings = {
  bgc: $colors.accent,
  color: #000
}

$placeholders = {
  normal : getColor($body.color, 'hint'),
  focus  : transparent
}
