<div block="our-materials-list">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="head">
                <h1 elem="title">{{titleH1}}</h1>
            </div>
            <div elem="items">
                {% include "materials-thumb.html" %}
                {% include "materials-thumb.html" %}
                {% include "materials-thumb.html" %}
                {% include "materials-thumb.html" %}
                {% include "materials-thumb.html" %}
                {% include "materials-thumb.html" %}
                {% include "materials-thumb.html" %}
                {% include "materials-thumb.html" %}
                {% include "materials-thumb.html" %}
            </div>
        </div>
    </div>
</div><!-- our-materials-list -->