.our-materials-list

    &__head
        text-align center
        margin-bottom 60px

        @media (max-width 640px)
            margin-bottom 30px

    &__title
        font-size 36px
        color #171717
        font-family : $fonts.base
        font-weight 700
        padding-bottom 5px
        position relative
        &:after
            content ''
            position absolute
            left 50%
            transform translateX(-50%)
            bottom 0
            width 111px
            height 2px
            background-color #0099ff

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 28px        

    &__items
        display flex
        margin-left -30px
        flex-wrap wrap

        @media (max-width 1280px)
            justify-content center

    .materials-thumb
        margin-bottom 30px

        &__body
            border-radius 5px
            border 1px solid #d1d1d1
            background-color #ffffff    
            overflow hidden