<div block="mobile-panel">
    <div elem="section">
        <div elem="items">
            <div elem="inner">
                <button elem="btn-burger" class="js-btn-burger" type="button"><span></span></button>
                <div elem="overlay-menu"></div>
                
                <div block="menu">
                    <nav elem="nav">
                        <ul elem="nav-list">
                           <li class="sub-menu">
                                <a href="#">О компании</a>
                                <ul>
                                    <li><a href="#">Отзывы</a></li>
                                    <li><a href="#">Лицензии и сертификаты</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu sub-menu--mods">
                                <a href="#">Медицинское оборудование</a>
                                <ul>
                                    <li><span><img src="img/mods-menu-pic5.png" alt=""></span><a href="#">Хирургияи реанимация</a></li>
                                    <li><span><img src="img/mods-menu-pic.png" alt=""></span><a href="#">Неонатология</a></li>
                                    <li><span><img src="img/mods-menu-pic11.png" alt=""></span><a href="#">Эндоскопия</a></li>
                                    <li><span><img src="img/mods-menu-pic8.png" alt=""></span><a href="#">Функциональная диагностика</a></li>
                                    <li><span><img src="img/mods-menu-pic2.png" alt=""></span><a href="#">Лабораторная диагностика</a></li>
                                    <li><span><img src="img/mods-menu-pic6.png" alt=""></span><a href="#">Ветеренария</a></li>
                                    <li><span><img src="img/mods-menu-pic9.png" alt=""></span><a href="#">Рентгенология и томография</a></li>
                                    <li><span><img src="img/mods-menu-pic3.png" alt=""></span><a href="#">Офтальмология</a></li>
                                    <li><span><img src="img/mods-menu-pic7.png" alt=""></span><a href="#">Расходные материалы</a></li>
                                    <li><span><img src="img/mods-menu-pic10.png" alt=""></span><a href="#">Акушерство и гинекология</a></li>
                                    <li><span><img src="img/mods-menu-pic4.png" alt=""></span><a href="#">Оториноларингология</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Наши партнеры</a></li>
                            <li><a href="#">Наши клиенты</a></li>
                            <li class="sub-menu">
                                <a href="#">Информация</a>
                                <ul>
                                    <li><a href="#">Наши партнеры</a></li>
                                    <li><a href="#">Наши клиенты</a></li>
                                    <li><a href="#">Условия доставки</a></li>
                                    <li><a href="#">Статьи</a></li>
                                    <li><a href="#">Контакты</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav>
                    <div elem="phones">
                        <a href="tel:+74951851917">{{ _icon('phone-icon', { tag: 'i' }) }}+7 (495) 185-19-17</a>
                    </div>
                    <a elem="btn-call" class="site-btn">Заказать звонок</a>
                    <div class="m-catalogMenu"></div><!-- <= catalogMenu -->
                </div><!-- b-menu -->
            </div>
            <div elem="search">
                <button elem="btn-search" class="search__btn-search js-btn-search" type="button">{{ _icon('search-icon', { tag: 'i' }) }}</button>
            </div>
            <div block="search">
                <div elem="section">
                    <form elem="form" action="">
                        <div elem="input">
                            <button elem="btn-search" type="submit">{{ _icon('search-icon', { tag: 'i' }) }}</button>
                            <input type="text" placeholder="Поиск" required>
                        </div>
                    </form>
                </div>
            </div><!-- b:search -->
            <div elem="logo">
                {% include 'logo.html' %}
            </div>
        </div>
    </div>
</div><!-- b-mobile-panel -->