<div block="b-subcategories" class="contain">
	<div elem="items">
		<a href="#" elem="item">
			<div elem="item-img"><img src="img/subpic1.png" alt=""></div><!-- <= item-img -->
			<div elem="item-anonce">
				<div elem="item-title">Операционные столы</div><!-- <= item-title -->
				<div elem="item-text">Основной задачей отделения реанимации является осуществление комплекса мероприятий по восстановлению и поддержанию нарушенных функций жизненно важных органов, возникших вследствие заболевания, травмы, оперативного вмешательства и других причин до стабилизации</div><!-- <= item-text -->
			</div><!-- <= item-anonce -->
		</a><!-- <= item -->
		<a href="#" elem="item">
			<div elem="item-img"><img src="img/subpic1.png" alt=""></div><!-- <= item-img -->
			<div elem="item-anonce">
				<div elem="item-title">Операционные столы</div><!-- <= item-title -->
				<div elem="item-text">Основной задачей отделения реанимации является осуществление комплекса мероприятий по восстановлению и поддержанию нарушенных функций жизненно важных органов, возникших вследствие заболевания, травмы, оперативного вмешательства и других причин до стабилизации</div><!-- <= item-text -->
			</div><!-- <= item-anonce -->
		</a><!-- <= item -->
		<a href="#" elem="item">
			<div elem="item-img"><img src="img/subpic1.png" alt=""></div><!-- <= item-img -->
			<div elem="item-anonce">
				<div elem="item-title">Операционные столы</div><!-- <= item-title -->
				<div elem="item-text">Основной задачей отделения реанимации является осуществление комплекса мероприятий по восстановлению и поддержанию нарушенных функций жизненно важных органов, возникших вследствие заболевания, травмы, оперативного вмешательства и других причин до стабилизации</div><!-- <= item-text -->
			</div><!-- <= item-anonce -->
		</a><!-- <= item -->
		<a href="#" elem="item">
			<div elem="item-img"><img src="img/subpic1.png" alt=""></div><!-- <= item-img -->
			<div elem="item-anonce">
				<div elem="item-title">Операционные столы</div><!-- <= item-title -->
				<div elem="item-text">Основной задачей отделения реанимации является осуществление комплекса мероприятий по восстановлению и поддержанию нарушенных функций жизненно важных органов, возникших вследствие заболевания, травмы, оперативного вмешательства и других причин до стабилизации</div><!-- <= item-text -->
			</div><!-- <= item-anonce -->
		</a><!-- <= item -->
		<a href="#" elem="item">
			<div elem="item-img"><img src="img/subpic1.png" alt=""></div><!-- <= item-img -->
			<div elem="item-anonce">
				<div elem="item-title">Операционные столы</div><!-- <= item-title -->
				<div elem="item-text">Основной задачей отделения реанимации является осуществление комплекса мероприятий по восстановлению и поддержанию нарушенных функций жизненно важных органов, возникших вследствие заболевания, травмы, оперативного вмешательства и других причин до стабилизации</div><!-- <= item-text -->
			</div><!-- <= item-anonce -->
		</a><!-- <= item -->
		<a href="#" elem="item">
			<div elem="item-img"><img src="img/subpic1.png" alt=""></div><!-- <= item-img -->
			<div elem="item-anonce">
				<div elem="item-title">Операционные столы</div><!-- <= item-title -->
				<div elem="item-text">Основной задачей отделения реанимации является осуществление комплекса мероприятий по восстановлению и поддержанию нарушенных функций жизненно важных органов, возникших вследствие заболевания, травмы, оперативного вмешательства и других причин до стабилизации</div><!-- <= item-text -->
			</div><!-- <= item-anonce -->
		</a><!-- <= item -->
	</div><!-- <= items -->
</div><!-- b-subcategories -->