.b-subcategories
	flex none
	margin 40px auto
	@media (max-width:767px)
		margin 20px auto
	&__items
		display:flex;
		flex-wrap wrap
		justify-content space-between
		@media (max-width:1213px)
			flex-direction: column;
			align-items center
	&__item
		flex 0 0 100%
		max-width 584px
		display:flex;
		align-items center
		justify-content space-between
		margin-bottom 40px
		text-decoration none !important
		@media (max-width:600px)
			flex-direction: column;
			text-align center
		&-img
			flex 0 0 48%
			@media (max-width:600px)
				margin-bottom 15px	
			img
				transition box-shadow .5s
				border-radius 4px
		&-anonce
			flex 0 0 52%
		&-title
			color: #171717;
			font-size: 24px;
			line-height 1.2
			font-weight: 700;
			margin-bottom 25px
			transition color .5s
			@media (max-width:600px)
				margin-bottom 15px
		&-text
			color: #212121;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px
		&:hover
			.b-subcategories__item-title
				color #09f
			.b-subcategories__item-img
				img
					box-shadow 0px 0px 5px 0px #09f
			