.main-slider

    @media (max-width 1023px)
        padding-top 61px

    @media (max-width 767px)
        padding-top 80px    
    
    &__inner
        position relative

    &__items

        .owl-nav
            display flex
            align-items center
            position absolute
            left 335px
            bottom 57px

            @media (max-width 1279px)
                bottom 20px
                left 50px
            
        .owl-prev,
        .owl-next
            display flex
            align-items center
            justify-content center
            width 44px
            height 44px
            border 1px solid #66d0cc
            border-radius 50%
            background-color #ffffff
            transition background-color .3s
            svg
                width 15px
                fill #66d0cc
                margin-left 3px

            &:hover
                background-color #66d0cc

                svg
                    fill #fff

        .owl-prev
            margin-right 9px
            transform rotate(180deg)        


    &__item
        display flex

        @media (max-width 767px)
            flex-direction column

    &__info
        padding-top 75px    

        @media (max-width 1279px)
            padding-top 0

        @media (max-width 767px)
            width 100%
            padding-bottom 20px    

        @media (max-width 480px)
            padding-bottom 100px    
        
    &__title
        font-size 48px
        font-weight 700
        white-space nowrap    
        position relative
        z-index 1

        @media (max-width 959px)
            font-size 34px

        @media (max-width 767px)
            white-space normal
            line-height 36px    

        @media (max-width 480px)
            font-size 30px
            line-height 34px      

    &__subtitle
        font-size 24px
        color #171717
        font-weight 400

        @media (max-width 480px)
            font-size 20px

    &__underscore-title
        font-size 36px
        color #127b89
        font-weight 700 

        @media (max-width 959px)
            font-size 32px   

        @media (max-width 480px)
            font-size 28px    

    &__btn-more
        margin-top 70px
        width 215px
        max-width 100%
        padding-top 17px
        padding-bottom 18px    

        @media (max-width 1279px)
            margin-top 30px

        @media (max-width 767px)
            display block
            margin-left auto    

        @media (max-width 480px)
            margin-left 0    

    &__img
        font-size 0
        flex 0 0 715px
        width 715px
        max-width 715px
        height 542px
        border-radius 5px
        overflow hidden

        img 
            max-width 100%
            height auto    

        @media (max-width 1279px)
            flex 0 0 500px
            width 500px
            max-width 500px   
            height 379px

        @media (max-width 767px)
            flex 0
            width 480px
            max-width 100%
            order -1
            margin-bottom 10px

    &__counter
        font-size 18px
        color #171717
        font-weight 700     
        position absolute
        left 270px 
        bottom 65px

        span 
            color #c3c3c3
            font-weight 400   

        @media (max-width 1279px)
            left 0   
            bottom 25px 