<div block="main-slider">
    <div elem="section">
        <div elem="inner">
            <div elem="items" class="js-main-slider owl-carousel">
                <div elem="item">
                    <div elem="info">
                        <div elem="title">УЗ-сканер Siemens S1000 </div>
                        <div elem="subtitle">+ 4 датчика + Стресс-система Dixion</div>
                        <div elem="underscore-title">В ПОДАРОК!</div>
                        <a elem="btn-more" class="site-btn">Подробнее</a>
                    </div>
                    <div elem="img"><img src="img/main-slider-img.png" alt=""></div>
                </div>
                <div elem="item">
                    <div elem="info">
                        <div elem="title">УЗ-сканер Siemens S1000 </div>
                        <div elem="subtitle">+ 4 датчика + Стресс-система Dixion</div>
                        <div elem="underscore-title">В ПОДАРОК!</div>
                        <a elem="btn-more" class="site-btn">Подробнее</a>
                    </div>
                    <div elem="img"><img src="img/aboutTopBg.png" alt=""></div>
                </div>
                <div elem="item">
                    <div elem="info">
                        <div elem="title">УЗ-сканер Siemens S1000 </div>
                        <div elem="subtitle">+ 4 датчика + Стресс-система Dixion</div>
                        <div elem="underscore-title">В ПОДАРОК!</div>
                        <a elem="btn-more" class="site-btn">Подробнее</a>
                    </div>
                    <div elem="img"><img src="img/subCategoryBg.png" alt=""></div>
                </div>
                <div elem="item">
                    <div elem="info">
                        <div elem="title">УЗ-сканер Siemens S1000 </div>
                        <div elem="subtitle">+ 4 датчика + Стресс-система Dixion</div>
                        <div elem="underscore-title">В ПОДАРОК!</div>
                        <a elem="btn-more" class="site-btn">Подробнее</a>
                    </div>
                    <div elem="img"><img src="img/header-inner-pic.png" alt=""></div>
                </div>
                <div elem="item">
                    <div elem="info">
                        <div elem="title">УЗ-сканер Siemens S1000 </div>
                        <div elem="subtitle">+ 4 датчика + Стресс-система Dixion</div>
                        <div elem="underscore-title">В ПОДАРОК!</div>
                        <a elem="btn-more" class="site-btn">Подробнее</a>
                    </div>
                    <div elem="img"><img src="img/main-slider-img.png" alt=""></div>
                </div>
            </div>
            <div elem="counter"></div>
        </div>
    </div>
</div><!-- main-slider -->