.our-offers-products

    &__tabs-btn-items
        list-style-type none
        display flex
        justify-content center
        padding-left 0
        margin-bottom 45px

        @media (max-width 600px)
            flex-direction column

        li
            font-size 30px
            color #191919
            font-weight 400
            padding-right 15px
            padding-bottom 5px
            margin-right 75px
            position relative
            transition color .3s
            cursor pointer
            &:last-child
                margin-right 0  

            &:before
                content ''
                position absolute
                bottom 0
                left 0
                width 0
                height 3px
                transition background-color .3s, width .3s        

            &:after
                content ''
                position absolute
                top 21px
                right 0
                width 5px
                height 5px
                background-color #000
                border-radius 50%
                transition background-color .3s, opacity .3s  
                opacity 0

                @media (max-width 959px)
                    top 14px

            &:hover
                color #0099ff
                &:before
                    width 100%
                    background-color #0099ff
                &:after
                    opacity 1
                    background-color #0099ff          

            &.is-active-tab-btn
                color #0099ff
                &:before
                    width 100%
                    background-color #0099ff
                &:after
                    opacity 1
                    background-color #0099ff

            @media (max-width 959px)
                font-size 20px
                margin-right 25px

            @media (max-width 600px)
                align-self baseline    
                margin-bottom 15px

    &__content
        display none
        &.is-active-tab-content
            display block

        &--new-offer
        
            & ^[0]

                &__body
                    background url('../img/new-offer-bg.png') 0 0 no-repeat
                
                &__label
                    right 10px 

        &--special-offer

            & ^[0]

                &__body
                    background url('../img/special-offer-bg.png') 0 0 no-repeat

                &__label
                    right 7px

        &--coming-offer

            & ^[0]

                &__body
                    background url('../img/coming-offer-bg.png') 0 0 no-repeat

                &__label
                    right 20px    
                         

    &__items

        .owl-item
            display flex
            justify-content center

        .owl-nav
            display flex
            align-items center
            justify-content space-between
            width 370px
            max-width 100%
            margin 50px auto

            @media (max-width 768px)
                width 150px
                margin-top 30px

        .owl-prev,
        .owl-next

            &:hover
                svg
                    fill #66d0cc

            svg
                fill #818284
                width 24px
                transition fill .3s

        .owl-prev
            transform rotate(180deg)  

        .owl-dots
            display flex   
            align-items center 
            position absolute
            bottom 10px
            left 50%
            transform translateX(-50%)

        .owl-dot
            width 16px
            height 3px
            margin-right 40px                     
            background-color #d0d8de
            transition width .3s, height .3s, background-color .3s
            &:last-child 
                margin-right 0

            &.active
                width 56px
                height 5px
                background-color #66cfcb    

    &__item
        width 270px

    &__body
        padding 65px 11px 20px
        position relative
        display flex
        flex-direction column

    &__label
        font-size 14px
        color #fff
        font-weight 700
        text-transform uppercase
        position absolute
        top 15px
        

    &__top
        margin-bottom 15px   

    &__img
        font-size 0     
        width 105px
        display block
        margin 0 auto
        margin-bottom 10px

        img 
            max-width 100%
            height auto   

    &__name
        font-size 16px
        color #171717
        font-weight 700
        display block
        transition color .3s
        &:hover
            color #0099ff

    &__more-btn
        font-size 14px
        color #171717
        font-weight 600
        line-height 21.9px
        padding-right 15px
        transition color .3s
        &:hover
            color #0099ff