<div block="our-offers-products">
    <div elem="section" class="contain">
        <div elem="inner">
            <ul elem="tabs-btn-items">
                <li elem="tabs-btn-item" class="js-btn-item is-active-tab-btn">Новинки</li>
                <li elem="tabs-btn-item" class="js-btn-item">Спецпредложения</li>
                <li elem="tabs-btn-item" class="js-btn-item">Скоро в продаже</li>
            </ul>

            <div elem="content" mods="new-offer" class="js-tab-content is-active-tab-content">
                <div elem="items" class="js-slider-our-offers owl-carousel">
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">Новинки</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">Новинки</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">Новинки</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">Новинки</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">Новинки</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">Новинки</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">Новинки</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>  
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">Новинки</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>  
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">Новинки</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

            <div elem="content" mods="special-offer" class="js-tab-content">
                <div elem="items" class="js-slider-our-offers owl-carousel">
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">спецпредложение</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">спецпредложение</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">спецпредложение</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">спецпредложение</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">спецпредложение</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">спецпредложение</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">спецпредложение</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>  
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">спецпредложение</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>  
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">спецпредложение</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

            <div elem="content" mods="coming-offer" class="js-tab-content">
                <div elem="items" class="js-slider-our-offers owl-carousel">
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">скоро</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">скоро</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">скоро</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">скоро</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">скоро</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">скоро</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">скоро</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>  
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">скоро</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>  
                    <div elem="item">
                        <div elem="body">
                            <div elem="label">скоро</div>
                            <div elem="top">
                                <a elem="img" href="#"><img src="img/our-offers-products-img.png" alt=""></a>
                                <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
                            </div>
                            <div elem="bot">
                                <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div><!-- our-offers-products -->