<footer block="app-footer">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="items">
                <div elem="menu">
                    <ul>
                        <div class="footer-title-menu">О компании</div>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Лицензии и сертификаты</a></li>
                        <li><a href="#">Новости</a></li>
                    </ul>

                    <ul>
                        <div class="footer-title-menu">Каталог</div>
                        <li><a href="#">Каталог1</a></li>
                        <li><a href="#">Каталог2</a></li>
                        <li><a href="#">Каталог3</a></li>
                    </ul>

                    <ul>
                        <div class="footer-title-menu">Информация</div>
                        <li><a href="#">Наши партнеры</a></li>
                        <li><a href="#">Наши клиенты</a></li>
                        <li><a href="#">Условия доставки</a></li>
                        <li><a href="#">Статьи</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div elem="social-links">
                    <a elem="social-link" href="#"><img src="img/fb-icon.svg" alt=""></a>
                    <a elem="social-link" href="#"><img src="img/telegram-icon.svg" alt=""></a>
                    <a elem="social-link" href="#"><img src="img/google-plus-icon.svg" alt=""></a>
                </div>

                <div elem="info">
                    {% include "logo.html" %}

                    <div elem="phones">
                        <a href="tel:+74951851917">{{ _icon('phone-icon', { tag: 'i' }) }}+7 (495) 185-19-17</a>
                    </div>
                    <div elem="mail">
                        <a href="mailto:info@dixion.ru">{{ _icon('mail-icon', { tag: 'i' }) }}info@dixion.ru</a>
                    </div>
                    <a elem="btn-call" class="site-btn" data-remodal-target="modal">Заказать звонок</a>
                </div>
            </div>
            <div elem="bot">
                <div elem="copy">Copyright &copy; 2019</div>
                <a elem="privacy-policy" data-remodal-target="privacy-policy" href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer><!-- b:app-footer -->
