.app-footer
    flex none
    padding-top 50px
    padding-bottom 20px
    background-color #f7f7f7

    &__items
        display flex
        justify-content space-between
        padding-bottom 35px

        .logo
            margin-bottom 15px
            margin-left -13px

        @media (max-width 959px)
            flex-direction column
            justify-content center    
            align-items center

    &__menu
        display flex
        justify-content space-between
        flex 55%
        width 55%
        max-width 55%

        ul
            list-style-type none
            padding-left 0
            margin-bottom 0

            li
                margin-bottom 10px

                a
                    font-size 16px
                    color #191919
                    font-weight 400  
                    &:hover
                        text-decoration underline

            .footer-title-menu
                font-size 16px
                color #191919
                font-weight 600  
                margin-bottom 15px

        @media (max-width 959px)
            display none        

    &__social-links
        display flex
        margin-bottom 30px
        
    &__social-link
        display block
        font-size 0
        width 33px
        margin-right 15px
        &:last-child
            margin-right 0

        img 
            max-width 100% 
            height auto   

    &__phones
        margin-bottom 15px

        a
            font-size 18px
            color #171717
            font-weight 800
            cursor default
            display flex
            align-items center
            &:hover
                text-decoration none

            .svg-icon--phone-icon
                width 14px
                height 14px
                fill #0099ff 
                margin-right 11px           

    &__mail
        margin-bottom 15px

        a
            font-size 18px
            color #171717
            font-weight 800
            display flex
            align-items center
            &:hover
                text-decoration none

            .svg-icon--mail-icon
                width 14px
                height 14px
                fill #0099ff 
                margin-right 11px      

    &__bot
        padding-top 25px
        display flex
        border-top 1px solid #dcdcdc     

        @media (max-width 959px)
            flex-direction column
            justify-content center       

    &__copy
        font-size 16px
        color #191919
        font-weight 600    
        margin-right 95px

    &__privacy-policy    
        font-size 16px
        color #191919
        font-weight 600
        text-decoration underline   
        &:hover
            color #191919