<div block="about-company">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="img"><img src="img/about-company-img.png" alt=""></div>
            <div elem="body">
                <div elem="head">
                    <div elem="title">О компании</div>
                </div>
                <div elem="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione vo-</div>
                <a elem="more-btn" class="site-btn" href="#">Подробнее</a>
            </div>
        </div>
    </div>
</div><!-- about-company -->