.about-company
    margin-bottom 80px

    @media (max-width 640px)
        margin-bottom 40px

    &__inner
        display flex

        @media (max-width 959px)
            flex-direction column

    &__img
        flex 0 0 48%
        width 48%
        max-width 48%

        img 
            max-width 100%  
            height auto

        @media (max-width 959px)
            flex auto    
            width 570px
            max-width 100%

    &__body
        padding-top 10px
        padding-bottom 15px
        margin-left 30px       

        @media (max-width 959px)
            margin-left 0

    &__head
        margin-bottom 35px

        @media (max-width 640px)
            margin-bottom 30px

    &__title
        font-size 36px
        color #171717
        font-weight 700
        padding-bottom 10px
        position relative
        &:after
            content ''
            position absolute
            left 0
            bottom 0
            width 111px
            height 2px
            background-color #0099ff  

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 28px                      

    &__text
        font-size 16px
        color #212121
        font-weight 400
        line-height 24px      
        margin-bottom 20px  

    &__more-btn
        width 165px    