<div block="useful-info" mods="delivery">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="items">
                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="top">
                            <span elem="icon-wrap">
                                <span elem="icon">
                                    <span elem="icon-inner">
                                        <img class="current-icon" src="img/shipped-icon.svg" style="width: 45px; height=42px" alt="">
                                        <img class="hover-icon" src="img/shipped-icon-hover.svg" style="width: 45px; height=42px" alt="">
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span elem="bot">
                            <span elem="text">Доставка по Москве <br> и области бесплатно</span>
                        </span>
                    </a>
                </div>

                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="top">
                            <span elem="icon-wrap">
                                <span elem="icon">
                                    <span elem="icon-inner">
                                        <img class="current-icon" src="img/gift-icon.svg" style="width: 45px; height=42px" alt="">
                                        <img class="hover-icon" src="img/gift-icon-hover.svg" style="width: 45px; height=42px" alt="">
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span elem="bot">
                            <span elem="text">По Росси до транспортной <br> компании в городе <br> Москве  бесплатно. </span>
                        </span>
                    </a>
                </div>

                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="top">
                            <span elem="icon-wrap">
                                <span elem="icon">
                                    <span elem="icon-inner">
                                        <img class="current-icon" src="img/engineer-icon.svg" style="width: 45px; height=42px" alt="">
                                        <img class="hover-icon" src="img/engineer-icon-hover.svg" style="width: 45px; height=42px" alt="">
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span elem="bot">
                            <span elem="text">Выезд инженера по Москве <br> и области тоже бесплатно.</span>
                        </span>
                    </a>
                </div>

                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="top">
                            <span elem="icon-wrap">
                                <span elem="icon">
                                    <span elem="icon-inner">
                                        <img class="current-icon" src="img/clock-icon.svg" style="width: 45px; height=42px" alt="">
                                        <img class="hover-icon" src="img/clock-icon-hover.svg" style="width: 45px; height=42px" alt="">
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span elem="bot">
                            <span elem="text">Срок доставки от 3 до 5 дней <br> при наличии на складе <br> по Москве  и области.</span>
                        </span>
                    </a>
                </div>
            </div>

            <div block="calculation-links">
                <a href="#">Инженер по России расчёт индивидуально.</a>
                <a href="#">По России расчёт срока доставка  индивидуально.</a>
            </div><!-- b:calculation-links -->            
            
        </div>
    </div>
</div><!-- useful-info -->