.useful-info
    margin-bottom 80px

    &--delivery
        margin-top 80px

        & ^[0]
            
            &__body
                padding-right 25px
                padding-left 25px


    @media (max-width 640px)
        margin-bottom 40px

    &__items
        display flex
        flex-wrap wrap
        margin-left -30px

    &__item
        display flex
        padding-left 30px
        flex 0 0 25%
        width 25%
        max-width 25%
        background-color #fff

        @media (max-width: 1023px)
            flex 0 0 50%
            width 50%
            max-width 50%
            margin-bottom 30px

        @media (max-width: 639px)
            flex 0 0 100%
            width 100%
            max-width 100%

    &__body
        text-align center
        display flex
        flex-direction column
        justify-content center
        align-items center
        width 100%
        padding 30px 35px 25px
        border-radius 5px
        border 1px solid #d1d1d1       
        transition background-color .3s
        &:hover
            color #fff 
            background-color #4a919b

            & ^[0]

                &__icon
                    background-color #fff

                &__name,
                &__text
                    color #fff

            .current-icon
                display none

            .hover-icon
                display block 

        span 
            display block

    &__bot
        flex 1 1 auto        

    &__icon-wrap
        display flex !important
        align-items center
        justify-content center
        width 112px
        height 112px
        border 1px solid #ddd
        border-radius 50%
        padding 11px
        margin-bottom 15px
        transition background-color .3s

    &__icon
        width 90px
        height 90px
        background-color #66d0cc    
        border-radius 50%
        display flex !important
        justify-content center
        align-items center

    &__icon-inner

        img 
            max-width 100%
            height auto

        .hover-icon
            display none

    &__name
        font-size 18px
        font-style : $fonts.headings
        color #171717
        font-weight bold
        line-height 53px   
        transition color .3s     

    &__text
        font-size 16px
        color #171717
        font-weight 400
        line-height 24px  
        transition color .3s

        br
            @media (max-width: 639px)
                display none

.calculation-links
    margin-top 70px

    @media (max-width: 639px)
        margin-top 25px

    a
        font-size 24px
        color #171717
        font-weight 700
        line-height 28px
        margin-bottom 25px
        display block
        &:hover
            text-decoration underline

        @media (max-width: 639px)
            font-size 18px
            margin-bottom 10px