<div block="useful-info">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="items">
                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="top">
                            <span elem="icon-wrap">
                                <span elem="icon">
                                    <span elem="icon-inner">
                                        <img class="current-icon" src="img/shopping-cart-icon.svg" style="width: 45px; height=42px" alt="">
                                        <img class="hover-icon" src="img/shopping-cart-icon-hover.svg" style="width: 45px; height=42px" alt="">
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span elem="bot">
                            <span elem="name">Lorem Ipsum</span>
                            <span elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</span>
                        </span>
                    </a>
                </div>

                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="top">
                            <span elem="icon-wrap">
                                <span elem="icon">
                                    <span elem="icon-inner">
                                        <img class="current-icon" src="img/shopping-cart-icon.svg" style="width: 45px; height=42px" alt="">
                                        <img class="hover-icon" src="img/shopping-cart-icon-hover.svg" style="width: 45px; height=42px" alt="">
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span elem="bot">
                            <span elem="name">Lorem Ipsum</span>
                            <span elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</span>
                        </span>
                    </a>
                </div>

                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="top">
                            <span elem="icon-wrap">
                                <span elem="icon">
                                    <span elem="icon-inner">
                                        <img class="current-icon" src="img/shopping-cart-icon.svg" style="width: 45px; height=42px" alt="">
                                        <img class="hover-icon" src="img/shopping-cart-icon-hover.svg" style="width: 45px; height=42px" alt="">
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span elem="bot">
                            <span elem="name">Lorem Ipsum</span>
                            <span elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</span>
                        </span>
                    </a>
                </div>

                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="top">
                            <span elem="icon-wrap">
                                <span elem="icon">
                                    <span elem="icon-inner">
                                        <img class="current-icon" src="img/shopping-cart-icon.svg" style="width: 45px; height=42px" alt="">
                                        <img class="hover-icon" src="img/shopping-cart-icon-hover.svg" style="width: 45px; height=42px" alt="">
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span elem="bot">
                            <span elem="name">Lorem Ipsum</span>
                            <span elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</span>
                        </span>
                    </a>
                </div>
            </div>     
            
        </div>
    </div>
</div><!-- useful-info -->