.view-products
    margin-bottom 80px
    flex none
    @media (max-width 640px)
        margin-bottom 40px

    &__inner
        width 970px
        max-width 100%
        margin 0 auto

    &__head
        text-align center
        margin-bottom 60px

        @media (max-width 640px)
            margin-bottom 30px

    &__title
        font-size 36px
        color #171717
        font-weight 700
        padding-bottom 10px
        position relative
        &:after
            content ''
            position absolute
            left 50%
            transform translateX(-50%)
            bottom 0
            width 111px
            height 2px
            background-color #0099ff

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 28px        

    &__items

        .owl-item
            display flex
            justify-content center

        .owl-nav
            display flex
            align-items center
            justify-content space-between
            width 370px
            max-width 100%
            margin 50px auto

        .owl-prev,
        .owl-next
            position absolute
            &:hover
                svg
                    fill #66d0cc

            svg
                fill #818284
                width 15px
                transition fill .3s

            @media (max-width 1024px)
                position static    

        .owl-prev
            top 40%
            left -50px
            transform rotate(180deg)

        .owl-next
            top 40%
            right -25px

        @media (max-width 1024px)
            .owl-nav
                display flex
                align-items center
                justify-content space-between
                max-width 100%
                margin 50px auto

                
                width 150px
                margin-top 30px    

            .owl-prev,
            .owl-next

                &:hover
                    svg
                        fill #66d0cc

                svg
                    fill #818284
                    width 24px
                    transition fill .3s

        .owl-prev
            transform rotate(180deg)      

        .owl-dots
            display flex   
            align-items center 
            position absolute
            bottom 0
            left 50%
            transform translateX(-50%)

        .owl-dot
            width 16px
            height 3px
            margin-right 40px                     
            background-color #d0d8de
            transition width .3s, height .3s, background-color .3s
            &:last-child 
                margin-right 0

            &.active
                width 56px
                height 5px
                background-color #66cfcb         