<div block="view-products">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="head">
                {% if viewProducts == 1 %}
                    <div elem="title">Связанные товары</div>
                {% else %}
                    <div elem="title">Популярные товары</div>
                {% endif %}
            </div>

            <div elem="items" class="js-silder-view-products owl-carousel">
                {% include "product-thumb.html" %}
                {% include "product-thumb.html" %}
                {% include "product-thumb.html" %}
                {% include "product-thumb.html" %}
                {% include "product-thumb.html" %}
                {% include "product-thumb.html" %}
                {% include "product-thumb.html" %}
                {% include "product-thumb.html" %}
                {% include "product-thumb.html" %}
            </div>
        </div>
    </div>
</div><!-- view-products -->