<div block="s-path" class="contain" {% if subcategory == 1 %}mods="subcategoryMargin"{% endif %}>
	{% for item in path %}
		<a elem="link" href="#">{{item.title}}</a><!-- <= link -->
		<span elem="separator">/</span><!-- <= separator -->
	{% endfor %}
	{{pageTitle}}
</div><!-- s-path -->