.s-path 
	color: #171717;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom 40px
	flex none
	margin-top 15px
	@media (max-width:768px)
		font-size 12px
		margin-bottom 20px
	&--subcategoryMargin
		margin-bottom 79px
	a 
		text-decoration none
		color currentColor
		
		&:hover 
			text-decoration: underline;