.b-popularProduct
	flex none
	margin-bottom 80px
	@media (max-width:767px)
		margin-bottom 40px
	&__title
		color: #171717;
		font-size: 36px;
		font-weight: 700;
		margin-bottom 15px
		@media (max-width:640px)
			font-size 28px
			text-align center
	&__text
		color: #212121;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		max-width 1010px
		@media (max-width:640px)
			font-size 15px
			text-align center