.who-work-list

    &__head
        text-align center
        margin-bottom 75px

        @media (max-width 640px)
            margin-bottom 30px

    &__title
        font-size 36px
        color #171717
        font-family : $fonts.base
        font-weight 700
        padding-bottom 5px
        margin-bottom 30px
        position relative
        &:after
            content ''
            position absolute
            left 50%
            transform translateX(-50%)
            bottom 0
            width 111px
            height 2px
            background-color #0099ff

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 28px        

    &__desc
        font-size 16px
        color #212121
        font-weight 600
        line-height 24px
        width 940px
        max-width 100%
        margin 0 auto

    &__items
        display flex
        margin-left -30px
        flex-wrap wrap

        @media (max-width 1280px)
            justify-content center

.who-work-thumb
    padding-left 30px
    margin-bottom 30px

    &__body
        font-size 14px
        color #171717
        font-weight 500
        line-height 20px
        text-align center
        width 370px
        max-width 100%
        padding 33px
        border 1px solid #d1d1d1
        border-radius 5px
        background-color #fff
        display flex
        flex-direction column

        @media (max-width 768px)
            padding 15px

    &__top  
        display flex
        align-items center
        justify-content center
        height 200px
        flex 1 1 auto    
        margin-bottom 60px

        @media (max-width 768px)
            margin-bottom 15px

    &__img

        img
            max-width 100%
            height auto        