{% if pageTitle == 'Наши клиенты' %}
<div block="who-work-list">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="head">
                <h1 elem="title">{{titleH1}}</h1>
                <div elem="desc">Медицинское оборудование компании Диксион успешно эксплуатируется более чем в 50 странах мира. Количество лечебных учреждений, в которых установлена медицинская техника Диксион – более  7000.</div>
            </div>
            <div elem="items">
                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->
                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img2.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->
                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img3.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->

                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->
                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img2.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->
                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img3.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->
            </div>
        </div>
    </div>
</div><!-- who-work-list -->
{% endif %}

{% if pageTitle == 'Наши партнеры' %}

<div block="who-work-list">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="head">
                <h1 elem="title">{{titleH1}}</h1>
                <div elem="desc">Медицинское оборудование компании Диксион успешно эксплуатируется более чем в 50 странах мира. Количество лечебных учреждений, в которых установлена медицинская техника Диксион – более  7000.</div>
            </div>
            <div elem="items">
                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img4.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->
                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img5.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->
                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img6.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->

                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img4.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->
                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img5.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->
                <div block="who-work-thumb">
                    <div elem="body">
                        <div elem="top">
                            <div elem="img"><img src="img/who-work-thumb-img6.png" alt=""></div>
                        </div>
                        <div elem="bot">
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        </div>
                    </div>
                </div><!-- who-work-thumb -->
            </div>
        </div>
    </div>
</div><!-- who-work-list -->

{% endif %}