.pagination
    margin-top 30px
    margin-bottom 80px

    @media (max-width 640px)
        margin-top 0
        margin-bottom 30px

    &__items
        display flex
        align-items center
        justify-content flex-start
        width 256px
        margin 0 auto

        a
            font-size 18px
            color #71d4d0
            font-weight 400
            line-height 18px
            width 44px
            height 44px
            border 1px solid #66d0cc
            background-color #ffffff
            border-radius 50%
            display flex
            align-items center
            justify-content center
            margin-right 9px
            transition color .3s, background-color .3s
            &:last-child
                margin-right 0

            &:hover
                color #fff
                background-color #15bddb    