<div block="pagination">
    <div elem="items">
        <a elem="prev" href="#"><span><<</span></a>
        <a href="#"><span>1</span></a>
        <a href="#"><span>2</span></a>
        <a href="#"><span>3</span></a>
        <a elem="next" href="#"><span>>></span></a>
    </div>
</div><!-- pagination -->