.reviews-list
    margin-bottom 60px

    &__head
        text-align center
        margin-bottom 55px

        @media (max-width 640px)
            margin-bottom 30px

    &__title
        font-size 36px
        color #171717
        font-family : $fonts.base
        font-weight 700
        padding-bottom 5px
        margin-bottom 30px
        position relative
        &:after
            content ''
            position absolute
            left 50%
            transform translateX(-50%)
            bottom 0
            width 111px
            height 2px
            background-color #0099ff

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 28px  

    &__desc
        font-size 16px
        color #212121
        font-weight 400
        line-height 24px        
        width 900px
        max-width 100%
        margin-bottom 30px
    
    &__item
        color #ffffff
        display flex
        justify-content space-between
        padding 30px 65px
        border-radius 5px
        border 1px solid #e5e5e5
        background-color rgba(74, 145, 155, 0.9)  
        margin-bottom 30px
        &:last-child
            margin-bottom 0

        @media (max-width 1279px)
            padding-right 30px
            padding-left 30px

        @media (max-width 767px)
            display block   
            width 320px
            max-width 100%
            margin 0 auto 30px
            padding 15px

    &__body
        flex 0 0 545px
        width 545px
        max-width 545px
        display flex
        flex-direction column    

        @media (max-width 1023px)
            flex 0 0 445px
            width 445px
            max-width 445px

        @media (max-width 959px)
            flex 0 0 345px
            width 345px
            max-width 345px

        @media (max-width 767px)
            width 100%
            max-width 100%    

    &__name
        font-size 36px
        font-weight 400   
        margin-bottom 35px 

        @media (max-width 1023px)
            font-size 30px
            line-height 32px

    &__text
        font-size 16px
        font-weight 400
        line-height 24px    
        margin-bottom 25px

    &__info
        font-size 24px
        font-weight 400
        margin-top: auto

        @media (max-width 1023px)
            font-size 20px
            line-height 22px

    &__preview
        flex 0 0 365px
        width 365px
        max-width 365px
        padding-top 45px
        padding-bottom 35px
        border-radius 5px
        display flex
        align-items center
        justify-content center   
        background url('../img/rev-bg.png') 0 0 no-repeat
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba(41, 41, 41, 0.3) url('../img/loupe.svg') 50% 50% no-repeat
            background-size 77px 77px
            z-index -1
            opacity 0
            transition opacity .3s

        &:hover
            &:before
                opacity 1
                z-index 1

        @media (max-width 959px)
            flex 0 0 265px
            width 265px
            max-width 265px     
            background-size cover

        @media (max-width 767px)
            width 100%
            max-width 100%    
            margin-top 25px

    &__img
        width 260px
        max-width 100%
        display block

        img 
            max-width 100%
            height auto

        @media (max-width 959px)
            width 160px    

.lb-number
    display none !important