<div block="reviews-list">
    <div elem="section">
        <div elem="inner">
            <div elem="head">
                <div elem="title">Отзывы</div>
            </div>
            <div elem="desc">В этом разделе вы можете ознакомиться с отзывами наших клиентов о продукции DIXION. Медицинское оборудование компании DIXION успешно эксплуатируется в 77 регионах Российской Федерации. Количество лечебных учреждений, в которых установлена медицинская техника Диксион – более 3500 по всей России.</div>
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="name">Отзыв на Storm D6ed elements</div>
                        <div elem="text">За период эксплуатации аппарат непрерывно работал в круглосуточном режиме. Нареканий по работе аппарата нет.</div>
                        <div elem="info">«Вологодская областная клиническая больница»</div>
                    </div>
                    <a elem="preview" href="img/rev-img.png" data-lightbox="rev-img">
                        <span elem="img"><img src="img/rev-img.png" alt=""></span>
                    </a>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="name">Отзыв на Storm D6ed elements</div>
                        <div elem="text">За период эксплуатации аппарат непрерывно работал в круглосуточном режиме. Нареканий по работе аппарата нет.</div>
                        <div elem="info">«Вологодская областная клиническая больница»</div>
                    </div>
                    <a elem="preview" href="img/rev-img.png" data-lightbox="rev-img">
                        <span elem="img"><img src="img/rev-img.png" alt=""></span>
                    </a>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="name">Отзыв на Storm D6ed elements</div>
                        <div elem="text">За период эксплуатации аппарат непрерывно работал в круглосуточном режиме. Нареканий по работе аппарата нет.</div>
                        <div elem="info">«Вологодская областная клиническая больница»</div>
                    </div>
                    <a elem="preview" href="img/rev-img.png" data-lightbox="rev-img">
                        <span elem="img"><img src="img/rev-img.png" alt=""></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- reviews-list -->