<div block="our-materials">
    <div elem="section" class="contain">
        <div elem="inner">
            {% if materialsMods == 1 %}
                <div elem="head" mods="cotalog">
                    <div elem="title">Полезные материалы</div>
                </div>
            {% else %}
                <div elem="head">
                    <div elem="title">Новости</div>
                    <a elem="more" href="#">Все новости</a>
                </div>
            {% endif %}
            <div elem="items">
                {% include "materials-thumb.html" %}
                {% include "materials-thumb.html" %}
                {% include "materials-thumb.html" %}
            </div>
        </div>
    </div>
</div><!-- our-materials -->