.our-materials
    flex none
    background url('../img/news-bg.png') 0 0 no-repeat
    background-size cover
    width 1920px
    max-width 100% 
    padding-top 65px
    padding-bottom 55px
    margin 0 auto 70px

    @media (max-width 640px)
        margin-bottom 35px

    &__head
        display flex
        justify-content space-between
        align-items flex-end
        margin-bottom 60px
        @media (max-width 640px)
            margin-bottom 30px
        &--cotalog
            justify-content center
            text-align center
            .our-materials__title:after
                right 0
                margin 0 auto
    &__title
        font-size 36px
        color #171717
        font-weight 700
        padding-bottom 10px
        position relative
        &:after
            content ''
            position absolute
            left 0
            bottom 0
            width 111px
            height 2px
            background-color #0099ff

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 28px             

    &__more
        font-size 24px
        color #0099ff
        font-weight 400
        text-decoration underline
        &:hover
           color #0099ff 
           text-decoration none

        @media (max-width 640px)
            font-size 20px    

        @media (max-width 440px)
            font-size 18px           

    &__items
        display flex
        margin-left -30px       

        @media (max-width 640px)
            flex-wrap wrap
            justify-content center

    

    .materials-thumb
        @media (max-width 640px)
            margin-bottom 30px        
            