<div block="privacy-policy-modal" class="remodal" data-remodal-id="privacy-policy">
    <button data-remodal-action="close" class="remodal-close">{{ _icon('close', { tag: 'div' }) }}</button>
    <div elem="section" class="js-privacy-policy-custom-scroll">
        <P>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</P>

        <P>1.1 В настоящей Политике конфиденциальности используются следующие термины:</P>

        <P>1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени интернет-магазина Fellini, которые организуют и осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия или операции, совершаемые с персональными данными.</P>

        <P>1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</P>

        <P>1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</P>

        <P>1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Администратором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.</P>

        <P>1.1.5. «Пользователь сайта Интернет-магазина Fellini» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт интернет-магазина.</P>

        <P>1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.</P>

        <P>1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</P>

        <P>2. ОБЩИЕ ПОЛОЖЕНИЯ</P>

        <P>2.1. Использование Пользователем сайта Интернет-магазина означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</P>

        <P>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта Интернет-магазина.</P>

        <P>2.3.Настоящая Политика конфиденциальности применяется только к сайту Интернет-магазина Fellini. Интернет-магазин не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Интернет-магазина.</P>

        <P>2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта Интернет-магазина.</P>


        <P>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</P>


        <P>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта интернет-магазина по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.

        <P>3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте интернет-магазина Fellini в разделе о регистрации и включают в себя следующую информацию:

        <P>3.2.1. ФИО Пользователя;

        <P>3.2.2. контактный телефон Пользователя;

        <P>3.2.3. адрес электронной почты (e-mail);

        <P>3.2.4. адрес доставки Товара;

        <P>3.2.5. место жительство Пользователя.

        <P>3.3. Интернет-магазин защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):

        <P>IP адрес;
        информация из cookies;
        информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
        время доступа;
        адрес страницы, на которой расположен рекламный блок;
        реферер (адрес предыдущей страницы).</P>
        <P>3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта Интернет-магазина, требующим авторизации.</P>

        <P>3.3.2. Интернет-магазин осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.</P>

        <P>3.4. Любая иная персональная информация, неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.), подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.</P>



        <P>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</P>

        <P>4.1. Персональные данные Пользователя Администрация сайта интернет-магазина может использовать в целях:</P>

        <P>4.1.1. Идентификации Пользователя, зарегистрированного на сайте Интернет-магазина, для оформления заказа и (или) заключения Договора купли-продажи товара дистанционным способом с Интернет-магазином Fellini.</P>

        <P>4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта интернет-магазина.</P>

        <P>4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта интернет-магазина, оказания услуг, обработка запросов и заявок от Пользователя.</P>

        <P>4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.</P>

        <P>4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.</P>

        <P>4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.</P>

        <P>4.1.7. Уведомления Пользователя Сайта интернет-магазина о состоянии Заказа.</P>

        <P>4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот Пользователем.</P>

        <P>4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта интернет-магазина.</P>

        <P>4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Интернет-магазина или от имени партнеров Интернет-магазина.</P>

        <P>4.1.11. Осуществления рекламной деятельности с согласия Пользователя.</P>

        <P>4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров Интернет-магазина с целью получения продуктов, обновлений и услуг.</P>

        <P>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</P>

        <P>5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.</P>

        <P>5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте интернет-магазина «Fellini», включая доставку Товара.</P>

        <P>5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Украины только по основаниям и в порядке, установленным законодательством Украины.</P>

        <P>5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.</P>

        <P>5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.</P>

        <P>5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.</P>

        <P>6. ОБЯЗАТЕЛЬСТВА СТОРОН</P>

        <P>6.1. Пользователь обязан:</P>

        <P>6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом интернет-магазина Fellini.</P>

        <P>6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.</P>

        <P>6.2. Администрация сайта обязана:</P>

        <P>6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.</P>

        <P>6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.</P>

        <P>6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.</P>

        <P>6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.</P>

        <P>7. ОТВЕТСТВЕННОСТЬ СТОРОН</P>

        <P>7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Украины, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.</P>

        <P>7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:</P>

        <P>7.2.1. Стала публичным достоянием до её утраты или разглашения.</P>

        <P>7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.</P>

        <P>7.2.3. Была разглашена с согласия Пользователя.</P>

        <P>8. РАЗРЕШЕНИЕ СПОРОВ</P>

        <P>8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта Интернет-магазина и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).</P>

        <P>8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</P>

        <P>8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Украины.</P>

        <P>8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Украины.</P>

        <P>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</P>

        <P>9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.</P>

        <P>9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте интернет-магазина, если иное не предусмотрено новой редакцией Политики конфиденциальности.</P>

        <P>9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать в раздел "КОНТАКТЫ".</P>


        <P>9.4. Действующая Политика конфиденциальности размещена на странице по адресу "<a href="fellini.ua/privacy/">fellini.ua/privacy/</a>".</P>


 
    </div>
</div><!-- privacy-policy-modal -->