.privacy-policy-modal
    width 820px
    padding-top 45px
    padding-left 30px
    padding-right 35px
    box-shadow 0 0 21px rgba(159, 160, 180, 0.45)
    border-radius 15px
    background-color #ffffff

    &__section
        font-size 16px
        color #171313
        font-weight 400
        padding-right 25px
        text-align left
        overflow-y auto
        height 787px

        a
            color #171313
            text-decoration underline
            &:hover
                text-decoration none

.scrollbox-bar
    border-radius 3px
    background-color #66d0cc
    &:hover
        background-color #66d0cc
    &:active
        background-color #66d0cc

.scrollbox-rail
    background-color #f1f1f5
    opacity 1
                