.b-catalogText
	max-width 890px
	margin-bottom 70px
	@media (max-width:1224px)
		text-align center
		margin 0 auto 40px
	@media (max-width:1024px)
		margin-bottom 30px
	&__title
		color: #171717;
		font-size: 36px;
		font-weight: 700;
		margin-bottom 15px
		@media (max-width:640px)
			font-size 27px
	&__text
		color: #212121;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		@media (max-width:640px)
			font-size 15px
.b-catalog
	display:flex;
	flex-wrap wrap
	margin-left -20px
	margin-bottom 50px
	@media (max-width:1224px)
		margin-left 0
		justify-content center
	&__item
		display block
		border-radius: 5px;
		border: 1px solid #d1d1d1;
		background-color: #ffffff;
		max-width 270px
		width 100%
		margin-bottom 30px
		margin-left 30px
		padding 45px 27px 30px
		background: url(../img/catBg.png) 0 0 no-repeat
		background-size: cover
		transition box-shadow .3s
		@media (max-width:1224px)
			margin 0 15px 30px
		&-title
			color: #171717;
			font-size: 20px;
			font-weight: 700;
			line-height 1.3
			margin-bottom 20px
			min-height 52px
		&-img
			display:flex;
			align-items center
			justify-content center
			width 220px
			height 135px
			img 
				max-width 220px
		&-more
			color: #171717;
			font-size: 16px;
			font-weight: 400;
			display:flex;
			align-items center
			margin-top 30px
			span
				margin-left 10px
				width 30px
				height 30px
				background #15bddb
				border-radius 50%
				display block
				display:flex;
				align-items center
				justify-content center
				transition background-color .5s
		&:hover
			box-shadow: 0px 0px 5px 0px #15bddb;
			span
				background #4a919b
				