<div block="b-catalog">
		<a href="#" elem="item">
			<div elem="item-title">Хирургия и реанимация</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat1.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
		<a href="#" elem="item">
			<div elem="item-title">Акушерство и гинекология</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat2.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
		<a href="#" elem="item">
			<div elem="item-title">Неонатология</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat3.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
		<a href="#" elem="item">
			<div elem="item-title">Функциональная диагностика</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat4.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
		<a href="#" elem="item">
			<div elem="item-title">Рентгенология и томография</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat5.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
		<a href="#" elem="item">
			<div elem="item-title">Лабораторная диагностика</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat6.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
		<a href="#" elem="item">
			<div elem="item-title">Офтальмология</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat7.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
		<a href="#" elem="item">
			<div elem="item-title">Оториноларингология</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat8.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
		<a href="#" elem="item">
			<div elem="item-title">Эндоскопия</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat9.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
		<a href="#" elem="item">
			<div elem="item-title">Ветеренария</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat10.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
		<a href="#" elem="item">
			<div elem="item-title">Расходные материалы</div><!-- <= item-title -->
			<div elem="item-img"><img src="img/cat11.png" alt=""></div><!-- <= item-title -->
			<div elem="item-more">Подробнее<span><img src="img/catArr.png" alt=""></span></div><!-- <= item-title -->
		</a>
</div><!-- b-catalog -->