.product-thumb
    width 300px
    border-radius 5px
    padding 40px 20px
    border 1px solid #d1d1d1
    background-color #ffffff

    &__top
        margin-bottom 30px   

    &__img
        font-size 0     
        width 190px
        display block
        margin 0 auto
        position relative
        &:before
            content ''
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            width 115px
            height 115px
            border-radius 50%
            background-color #66d0cc

        img 
            max-width 100%
            height auto    

    &__name
        font-size 16px
        color #171717
        font-weight 700
        display block
        transition color .3s
        margin-bottom 30px
        &:hover
            color #0099ff

    &__more-btn
        font-size 14px
        color #171717
        font-weight 600
        line-height 21.9px
        padding-right 15px
        transition color .3s
        &:hover
            color #0099ff