<div block="product-thumb">
    <div elem="body">
        <div elem="top">
            <a elem="img" href="#"><img src="img/product-thumb-img.png" alt=""></a>
        </div>
        <div elem="bot">
            <a elem="name" href="#">Палатный цифровой рентгеновский аппарат мобильный Dixion Remodix 9507</a>
            <a elem="more-btn" class="site-more-btn" href="#">Подробнее</a>
        </div>
    </div>
</div><!-- product-thumb -->