<div block="reviews-about-us">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="head">
                <div elem="title">Отзывы</div>
            </div>
            <div elem="items" class="js-slider-reviews owl-carousel">
                <div elem="item">
                    <div elem="name">Отзыв на Instillar 1488</div>
                    <div elem="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt</div>
                    <div elem="product-on">Отзыв на Instillar 1488</div>
                </div>
                <div elem="item">
                    <div elem="name">Отзыв на Instillar 1488</div>
                    <div elem="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt</div>
                    <div elem="product-on">Отзыв на Instillar 1488</div>
                </div>
                <div elem="item">
                    <div elem="name">Отзыв на Instillar 1488</div>
                    <div elem="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt</div>
                    <div elem="product-on">Отзыв на Instillar 1488</div>
                </div>
            </div>
            <div elem="foot">
                <a elem="btn-all" class="site-btn" href="#">Все отзывы</a>
            </div>
        </div>
    </div>
</div><!-- reviews-about-us -->