.reviews-about-us
    margin-bottom 80px

    @media (max-width 640px)
        margin-bottom 40px

    &__inner
        width 1030px
        max-width 100%
        margin 0 auto

        @media (max-width 1279px)
            width 750px


    &__head
        text-align center
        margin-bottom 60px

        @media (max-width 640px)
            margin-bottom 30px

    &__title
        font-size 36px
        color #171717
        font-weight 700
        padding-bottom 10px
        position relative
        &:after
            content ''
            position absolute
            left 50%
            transform translateX(-50%)
            bottom 0
            width 111px
            height 2px
            background-color #0099ff

        @media (max-width 640px)
            font-size 30px    

        @media (max-width 440px)
            font-size 28px            

    &__items        
        border-radius 10px
        background url('../img/reviews-about-us-bg.png') 0 0 no-repeat

        @media (max-width 1279px)
            background-size cover

        .owl-nav
            display flex
            align-items center
            justify-content space-between
            width 370px
            max-width 100%
            margin 50px auto

        .owl-prev,
        .owl-next
            position absolute
            &:hover
                svg
                    fill #66d0cc

            svg
                fill #818284
                width 20px
                transition fill .3s

            @media (max-width 960px)
                position static        

        @media (max-width 960px)
            .owl-nav
                display flex
                align-items center
                justify-content space-between
                max-width 100%
                margin 50px auto
                width 150px
                margin-top 30px    
                position absolute
                left 50%
                transform translateX(-50%)

            .owl-prev,
            .owl-next

                &:hover
                    svg
                        fill #66d0cc

                svg
                    fill #818284
                    width 24px
                    transition fill .3s        

        .owl-prev
            top 40%
            left -50px
            transform rotate(180deg) translateX(-50%)

        .owl-next
            top 40%
            right -50px
            transform translateX(-50%)

        .owl-dots
            display flex   
            align-items center 
            position absolute
            bottom 0
            left 50%
            transform translateX(-50%)

        .owl-dot
            width 16px
            height 3px
            margin-right 40px                     
            background-color #d0d8de
            transition width .3s, height .3s, background-color .3s
            &:last-child 
                margin-right 0

            &.active
                width 56px
                height 5px
                background-color #66cfcb

    &__item
        color #fff
        padding 40px 50px

        @media (max-width 960px)
            padding 25px

    &__name
        font-size 36px
        color #fff
        font-weight 400
        text-align center 
        margin-bottom 40px

        @media (max-width 768px)
            font-size 30px
            margin-bottom 20px

    &__text
        font-size 16px
        color #ffffff
        font-weight 400
        line-height 24px       
        margin-bottom 25px

    &__product-on
        font-size 24px
        color #ffffff
        font-weight 400

    &__foot
        text-align center    

        @media (max-width 960px)
            margin-top 80px

    &__btn-all
        width 170px    

.cart-product

    .reviews-about-us
        flex none
        margin-top 80px
        margin-bottom 40px

        &__head
            display none 

        &__btn-all
            display none