= yaml =
pageTitle: 'Детальная статьи'
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
    {"title":О компании},
    {"title":Статьи},
]
pageNews: 1
= yaml =

{% extends 'app.html' %}

{% block main %}

    {% include 's-path.html' %}
    <div block="p-title"><h1 class="contain">С 16 по 19 апреля 2019 г. в Екатеринбурге Компания Dixion и Диксион-Исеть приняли участие в выставке "Здравоохранение Урала-2019"</h1></div><!-- /p-title -->
    {% include "b-about.html" %}

{% endblock %}
