<div block="b-catalogLot">
	<div elem="items">
		<div elem="item">
			<div elem="item-img"><img src="img/lotpic1.png" alt=""></div><!-- <= item-img -->
			<div elem="item-title">Электрический операционный стол Surgery 8600</div><!-- <= item-title -->
			<div elem="item-text">Седжери 8600 – это общехирургический операционный стол с электромеханическим приводом, предназначенный для проведения большинства операций в хирургической практике. Управление функциями стола осуществляется при помощи пульта дистанционного управления. Расширенный базовый комплект поставки позволяет использовать стол в общей, пластической, сердечно-сосудистой хирургии, лапароскопии, гинекологии и урологии.</div><!-- <= item-text -->
			<div elem="item-spec"><a href="#">Технические характеристики</a></div><!-- <= item-spec -->
			<div elem="item-button"><a href="#" class="site-btn" data-remodal-target="modal">Запросить КП</a></div><!-- <= item-button -->
		</div><!-- <= item -->
		<div elem="item">
			<div elem="item-img"><img src="img/lotpic1.png" alt=""></div><!-- <= item-img -->
			<div elem="item-title">Электрический операционный стол Surgery 8600</div><!-- <= item-title -->
			<div elem="item-text">Седжери 8600 – это общехирургический операционный стол с электромеханическим приводом, предназначенный для проведения большинства операций в хирургической практике. Управление функциями стола осуществляется при помощи пульта дистанционного управления. Расширенный базовый комплект поставки позволяет использовать стол в общей, пластической, сердечно-сосудистой хирургии, лапароскопии, гинекологии и урологии.</div><!-- <= item-text -->
			<div elem="item-spec"><a href="#">Технические характеристики</a></div><!-- <= item-spec -->
			<div elem="item-button"><a href="#" class="site-btn" data-remodal-target="modal">Запросить КП</a></div><!-- <= item-button -->
		</div><!-- <= item -->
		<div elem="item">
			<div elem="item-img"><img src="img/lotpic1.png" alt=""></div><!-- <= item-img -->
			<div elem="item-title">Электрический операционный стол Surgery 8600</div><!-- <= item-title -->
			<div elem="item-text">Седжери 8600 – это общехирургический операционный стол с электромеханическим приводом, предназначенный для проведения большинства операций в хирургической практике. Управление функциями стола осуществляется при помощи пульта дистанционного управления. Расширенный базовый комплект поставки позволяет использовать стол в общей, пластической, сердечно-сосудистой хирургии, лапароскопии, гинекологии и урологии.</div><!-- <= item-text -->
			<div elem="item-spec"><a href="#">Технические характеристики</a></div><!-- <= item-spec -->
			<div elem="item-button"><a href="#" class="site-btn" data-remodal-target="modal">Запросить КП</a></div><!-- <= item-button -->
		</div><!-- <= item -->
		<div elem="item">
			<div elem="item-img"><img src="img/lotpic1.png" alt=""></div><!-- <= item-img -->
			<div elem="item-title">Электрический операционный стол Surgery 8600</div><!-- <= item-title -->
			<div elem="item-text">Седжери 8600 – это общехирургический операционный стол с электромеханическим приводом, предназначенный для проведения большинства операций в хирургической практике. Управление функциями стола осуществляется при помощи пульта дистанционного управления. Расширенный базовый комплект поставки позволяет использовать стол в общей, пластической, сердечно-сосудистой хирургии, лапароскопии, гинекологии и урологии.</div><!-- <= item-text -->
			<div elem="item-spec"><a href="#">Технические характеристики</a></div><!-- <= item-spec -->
			<div elem="item-button"><a href="#" class="site-btn" data-remodal-target="modal">Запросить КП</a></div><!-- <= item-button -->
		</div><!-- <= item -->
	</div><!-- <= items -->
</div><!-- b-catalogLot -->