.b-catalogLot
	flex none
	&__items
		display:flex;
		flex-wrap wrap
		justify-content space-between
		@media (max-width:1023px)
			justify-content space-around
		@media (max-width:768px)
			flex-direction: column;
			justify-content center
			align-items center
	&__item
		border-radius: 5px;
		border: 1px solid #d1d1d1;
		background-color: #ffffff;
		flex 0 0 48%
		max-width 48%
		width 100%
		padding 24px 38px	
		transition box-shadow .5s
		margin-bottom 30px
		@media (max-width:1023px)
			flex 0 0 384px
			max-width 384px
		@media (max-width:768px)
			flex 0 0 100%
			max-width 384px
		&:hover
			box-shadow 0px 0px 3px 0px #15bddb
		&-img
			margin-top 30px
			margin-bottom 50px
			text-align center
			img 
				width 100%
		&-title
			color: #171717;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			margin-bottom 20px
		&-text
			color: #171717;
			font-size: 14px;
			margin-bottom 20px
			font-weight: 300;
			line-height 1.4
		&-spec
			margin-bottom 20px
			a
				display inline-block
				color: #0099ff;
				font-size: 16px;
				font-weight: 400;
				line-height: 23.47px;
				text-decoration: underline;
				transition color .5s
				&:hover
					color #66d0cc
		&-button
			a
				display inline-block
				color: #ffffff;
				font-size: 16px;
				font-weight: 400;
				border-radius: 4px;
				background-color: #15bddb;
				padding 9px 32px