.b-callBackLine
	flex none
	background-position 50% 50%
	background-size cover
	margin-bottom 80px
	@media (max-width:767px)
		margin-bottom 40px
	&__inner
		padding 65px 0
		display:flex;
		align-items center
		justify-content space-between
		@media (max-width:1289px)
			padding 35px 0
			flex-direction: column;
			text-align center
	&__title
		color: #ffffff;
		font-size: 24px;
		font-weight: 700;
		max-width 490px
		line-height 1.2
		@media (max-width:1289px)
			margin-bottom 20px
	&__buttons
		display:flex;
		align-items center
		@media (max-width:613px)
			flex-direction: column;
	&__download
		margin-right 47px
		@media (max-width:613px)
			margin-bottom 20px
			margin-right 0
		a
			display:flex;
			align-items center
			color: #ffffff;
			font-size: 18px;
			font-weight: 400;
			line-height: 1.2;
			img 
				margin-right 12px
			&:hover
				color #fff
				text-decoration underline
	&__button
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		line-height 1.2
		border-radius: 4px;
		background-color: #66d0cc;
		padding 19px 40px
		display inline-block
		transition background-color .5s
		&:hover
			color #fff
			background #15bddb
			text-decoration none