<div block="b-callBackLine" style="background-image: url(img/callbg1212.png);">
	<div elem="inner" class="contain">
		<div elem="title">Получить коммерческое предложение или проконсультироваться по оборудованию</div><!-- <= title -->
		<div elem="buttons">
			<div elem="download"><a href="#"><img src="img/download.png" alt="">Скачать каталог в pdf</a></div><!-- <= download -->
			<a href="#" elem="button" data-remodal-target="contact-spec">Связаться со специалистом</a>
		</div><!-- <= buttons -->
	</div><!-- <= inner -->
</div><!-- b-callBackLine -->

{% include "form-contact-spec.html" %}