html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

.app
    display flex
    flex-direction column
    height 100%
    height 100vh
    background url('../img/site-bg.png') 0 0 no-repeat

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto
        // width: 1230px;
        // max-width: 100%;
        // padding-right: 15px;
        // padding-left: 15px;
        // margin: 0 auto 20px;
    &__main
        flex 1
        
    &__aside
        @media (max-width:1023px)
            display none
        &--left
            order -1
            flex : 0 0 398px
            padding-right 30px
            @media all and (min-width:1024px) and (max-width:1100px)
                flex : 0 0 350px

.contain
    width 1200px + 15px + 15px
    max-width 100%
    padding-right 15px
    padding-left 15px
    margin 0 auto

.site-btn
    font-size 16px
    color #fff !important
    font-weight 400
    text-align center
    padding 9px 20px 10px
    border-radius 4px
    background-color #15bddb
    text-decoration none
    display inline-block
    vertical-align top
    cursor pointer
    transition background-color .3s
    &:hover
        color #fff
        text-decoration none
        background-color #66d0cc

.site-more-btn
    position relative
    &:after   
        content ''
        position absolute
        top -5px
        right -25px
        width 27px
        height 27px
        background-color #0099ff
        border-radius 50%
        background #0099ff url('../img/more-icon.svg') 50% 50% no-repeat
        background-size 30%

.page-scroller.page-scroller--visible,
.page-scroller.page-scroller--memorized
    width 64px
    height 64px
    border-radius 50%
    background-color #15bddb
    transition background-color .3s
    &:hover
        background-color #66d0cc
    &:focus
        background-color #15bddb

    svg 
        fill #fff

    @media (max-width 959px)
        width 40px
        height 40px


input,
button 
    outline none !important

a
    &:hover
        text-decoration none
.p-title
    flex 0 0 100%
    color: #171717;
    font-size: 36px;
    font-weight: 700;
    padding-bottom 15px
    text-align center
    margin-bottom 60px
    line-height 1.2
    @media (max-width:767px)
        margin-bottom 20px
    h1
        position relative
        display inline-block
        margin 0 auto
        font-size: 36px;
        max-width 950px
        width 100%
        padding-bottom 15px
        @media (max-width:767px)
            font-size 25px
        &:before
            content ''
            position absolute
            bottom 0
            left 0
            right 0
            height 2px
            width 112px
            background #09f
            margin 0 auto
